
.hw-ad{
    width: 198px;
    height: 112px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    p{
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.hw-ad-common1{
    border: 1px solid #00a7bc;

    .hw-logo{
        position: absolute;
        background-color: #c5c5c5;
        width: 90px;
        height: 112px;
        top: 0;
        left: 0;
    }

    .hw-name{
        font-size: 21px;
        color: #00a7bc;
        top: 6px;
        position: absolute;
        width: 100px;
        left: 95px;
        text-align: left;
        font-weight: 700;
    }

    .hw-ad1{
        font-size: 15px;
        position: absolute;
        color: #4a4a4a;
        left: 95px;
        width: 100px;
        text-align: left;
        top: 36px;
    }

    .hw-ad2{
        margin: 0;
        position: absolute;
        left: 95px;
        width: 100px;
        font-size: 12px;
        color: #4a4a4a;
        text-align: left;
        top: 60px;
    }

    .hw-tel{
        position: absolute;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: rgba(0,167,188, 0.65);
        left: 0;
        font-size: 16px;
        bottom: 0;
        margin: 0;
        color: #fff;
        text-align: center;
    }

}

.hw-ad-common2{
    border: 1px solid #c5c5c5;

    .hw-logo{
        position: absolute;
        background-color: #c5c5c5;
        width: 90px;
        height: 112px;
        top: 0;
        right: 0;
    }

    .hw-name{
        font-family: STKaiti-SC-Regular;
        font-size: 22px;
        color: #000;
        top: 32px;
        position: absolute;
        width: 100px;
        left: 5px;
        text-align: left;
        font-weight: 700;
    }

    .hw-ad1{
        font-family: PingFangSC-Regular;
        font-size: 12px;
        position: absolute;
        color: #4a4a4a;
        left: 5px;
        width: 100px;
        text-align: left;
        top: 10px;
    }

    .hw-ad2{
        font-family: PingFangSC-Regular;
        margin: 0;
        position: absolute;
        left: 5px;
        width: 100px;
        font-size: 12px;
        color: #4a4a4a;
        text-align: left;
        top: 70px;
    }

    .hw-tel{
        font-family: PingFangSC-Regular;
        position: absolute;
        left: 5px;
        font-size: 12px;
        top: 88px;
        color: #4a4a4a;
        text-align: left;
    }

}

.hw-ad-t3{
    border: 1px solid transparent;
    text-align: center;
    background: #ffffff;

    .hw-logo{
        display: none !important;
    }
    .hw-ad2{
        display: none !important;
    }

    .hw-name{
        font-family: STKaiti-SC-Black;
        font-size: 28px;
        margin-top: 10px;
    }
    .hw-ad1{
        font-size: 16px;
        font-family: PingFangSC-Semi;
        margin-top: -2px;
    }
    .hw-tel{
        position: absolute;
        font-size: 15px;
        height: 30px;
        line-height: 34px;
        color: #ffffff;
        left : 0;
        bottom: 0;
        width:100%;
    }
}
.hw-ad-sijiaxiaodian{
    border-color: rgb(235,89,107);
    .hw-name{
        color: rgb(235,89,107);
    }
    .hw-ad1{
        color: rgb(69,1,10);
    }
    .hw-tel{
        background: rgb(235,89,107);
    }
}
.hw-ad-canyinmeishi{
    border-color: rgb(232,97,41);
    .hw-name{
        color: rgb(102,35,6);
        font-size: 28px;
    }
    .hw-ad1{
        color: #ffffff;
        position: absolute;
        font-size: 15px;
        height: 30px;
        line-height: 34px;
        left : 0;
        bottom: 0;
        width:100%;
        background: rgb(236,129,85);
        font-weight: normal;
    }
    .hw-tel{
        color: rgb(232,97,41);
        margin-top: -3px;
        position: static;
        background: none;
    }
}
.hw-ad-jiazhuangqingjie{
    border-color: rgb(157,172,69);
    .hw-name{
        color: rgb(47,54,4);
    }
    .hw-ad1{
        color: rgb(157,172,69);
    }
    .hw-tel{
        background: rgb(157,172,69);
    }
}
.hw-ad-kehoufudao{
    border-color: rgb(242,165,58);
    .hw-name{
        color: rgb(109,67,11);
    }
    .hw-ad1{
        color: rgb(242,165,58);
    }
    .hw-tel{
        background: rgb(242,165,58);
    }
}
.hw-ad-kuijibaoxian{
    border-color: rgb(134,84,148);
    .hw-name{
        color: rgb(134,84,148);
        font-size: 24px;
    }
    .hw-ad1{
        color: rgb(41,3,52);
        font-size: 18px;
        font-family: PingFangSC-SemiBold;
        margin-top: 0;
    }
    .hw-tel{
        background: rgb(134,84,148);
    }
}
.hw-ad-qicheweixiu{
    border-color: rgb(56,56,59);
    .hw-name{
        color: rgb(74,74,74);
    }
    .hw-ad1{
        color: rgb(78,78,78);
    }
    .hw-tel{
        background: rgb(56,56,59);
    }
}
.hw-ad-zhongyiyayi{
    border-color: rgb(235,89,107);
    .hw-name{
        color: rgb(69,1,10);
    }
    .hw-ad1{
        color: rgb(235,89,107);
        margin-top: 0;
    }
    .hw-tel{
        background: rgb(235,89,107);
    }
}
.hw-ad-xiuxianmeirong{
    border-color: rgb(26,167,186);
    .hw-name{
        color: rgb(64,188,204);
        font-size: 22px;
    }
    .hw-ad1{
        color: rgb(4,56,62);
        font-size: 20px;
        font-family: PingFangSC-SemiBold;
        margin-top: 2px;
    }
    .hw-tel{
        background: rgb(26,167,186);
    }
}