$blue-color:#37bccd;
$color-4a:#4a4a4a;
$border-color:#c5c5c5;
$color-7d:#7d7d7d;
$yellow-color : #f4a62a;
@mixin fontRender{
    text-rendering: geometricPrecision;
}

body{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-text-size-adjust: none;
    height: 100%;
    position: relative;
    padding-bottom: 175px;
}

*{
    font-family:MicrosoftYaHei,PingFangSC-Semi, STHeiti, sans-serif;
    font-size: 14px;
    color: $color-4a;
    padding: 0;
}

a{
    display: inline-block;
}
a:hover, a:link{
    text-decoration: none;
}

.container{
    width: 1080px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.nodis{
    display: none;
}
.no_dis{
    display: none !important;
}

.hand{
    cursor: pointer !important;
}
.hw-loadingmore-bar{
    padding: 12px 0;
    text-align: center;

    .loading{
        background: url('../image/loading.gif');
        display: inline-block;
        width: 32px;
        height: 32px;
    }

    b{
        font-size: 14px;
        cursor: pointer;
    }
}

#fakeLoader1 .spinner7>div, #fakeLoader .spinner7>div{
    background: #f4a62a;
    //border: 1px solid $blue-color;
}
#fakeLoader1 .spinner7, #fakeLoader .spinner7{
    top: auto !important;
    bottom: 220px !important;
    padding: 15px 50px;
    background: rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
    border-radius:30px;

    &>div{
        position: relative;
        top: 20px;
    }
}

.icon-v{
    font-size: 48px;
    font-family: STSongti-SC-Bold;
    color: #f4a62a;
    line-height: 48px;
}




.hw-mypage{
    margin-top: 24px;
    min-height: 800px;
    margin-bottom: 40px;
}

.hw-panel{
    border-radius: 0;
    border: 1px solid $border-color;
    .panel-heading{
        background: #f7f7f7;

        .r{
            color: $blue-color;
            float: right;
        }
    }
    .panel-body{
        padding: 0;
    }
}

.form-group{
    text-align: left;
    position: relative;

    .lab{
        color: $color-4a;
        font-size: 14px;
    }
    .hw-err{
        float: right;
        position: relative;
        top: 4px;
    }

    input{
        background: #ffffff;
        height: 40px;
        border-radius: 0;
        margin-top: 2px;
    }

    .require:after{
        content : '*';
        color: #ff0000;
        position: relative;
        left: 4px;
        top: 5px;
        font-size: 16px;
    }

    .del{
        position: absolute;
        z-index: 2;
        font-size: 20px;
        top: 40px;
        right: 8px;
        cursor: pointer;
        color: $color-4a;
    }

}
label.require:after{
    content : '*';
    color: #ff0000;
    position: relative;
    left: 4px;
    top: 5px;
    font-size: 16px;
}


.hw-btn{
    display: inline-block;
    line-height: 40px;
    text-align: center;
    min-width: 96px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 3px;

    &:focus{
        outline: none;
    }

    &.btn-loading{
        cursor: not-allowed;
    }
    &.btn-loading:before{
        content:"";
        background: url(../image/loading2.gif);
        background-size : 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 12px;
        position: relative;
        top: 2px;
    }


}
.hw-blue-btn{
    color: #fff;
    background: $blue-color;
    border: 1px solid $blue-color;

    &:hover, &:link{
        color: #fff;
    }
    &:hover, &.btn-loading{
        background: #00a7bc;
    }
    &:visited{
        color : #fff;
    }
}
.hw-light-btn{
    color: $blue-color;
    background: transparent;
    border: 1px solid $blue-color;

    &:hover, &:link, &.btn-loading{
        color: $blue-color;
    }
}

/* login and reg box */
.hw-loginRegBoxComp{
    width: 711px;
    min-height: 300px;
    background: #ffffff;
    padding: 45px 0 0 0;
    margin: 0 auto;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;


    .c-tlt{
        position: relative;
        margin-bottom: 45px;
        height: 28px;

        h4{
            b{
                font-size: 18px;
                color: $color-4a;
            }
        }

        img{
            position: absolute;
            width: 68px;
            height: 68px;
            top: -24px;
            left: 322px;
        }
    }

    .c-left{
        height: 265px;
        width: 52%;
        border-right: 1px solid $border-color;

        h4{
            font-size: 18px;
            color: $color-4a;
            margin-bottom: 10px;
        }
        
        .c-error{
            color: #f20d0d;
            font-size: 14px;
            text-align: right;
            width: 288px;
            margin: 5px auto;
        }

        input{
            width: 288px;
            height: 42px;
            line-height: 42px;
            font-size: 16px;
            color: $color-7d;
            margin-bottom: 20px;
            border: 1px solid $border-color;
            border-radius: 3px;
            padding-left: 10px;
        }

        .hw-btn{
            width: 288px;
            font-size: 16px;
        }

        p{
            font-size: 12px;
            color: #9b9b9b;
            margin-top: 20px;
            
            a{
                color: $blue-color;
                font-size: 12px;
            }
        }
    }

    .c-right{
        position: absolute;
        right: 0;
        width: 48%;
        height: 265px;
        top: 118px;

        h4{
            font-size: 14px;
            margin-top: 24px;
            color: $color-7d;
        }

        .hw-btn{
            width: 244px;
            line-height: 42px;
            height: 42px;
            margin-top: 24px;
            border-radius: 3px;
            color: #ffffff;
            
            .icon{
                display: inline-block;
                vertical-align: bottom;
                width: 42px;
                height: 42px;
                position: relative;
                background-size: 100%;
            }
        }

        .hw-weixin{
            background: #12b116;
            .icon{
                background-image: url('../image/wechat_login.png');
            }
        }
        
        .hw-fb{
            background: #3b5998;
            .icon{
                background-image: url('../image/facebook_login.png');
            }
        }
    }

    .c-btm{
        height: 56px;
        background: #f5f5f5;
        margin-top: 20px;
        padding-top: 12px;

        p{
            font-size: 12px;
            color: #9b9b9b;

            .hw-btn{
                line-height: 30px;
                border: 1px solid #9b9b9b;
                color: #9b9b9b;
                min-width: 74px;
                margin-left: 10px;
                cursor: pointer;
            }
        }

        h6{
            font-size: 14px;
            color: #9b9b9b;

            a{
                font-size: 14px;
                color: $blue-color;
                cursor: pointer;
            }
        }
    }
}

.hw-center-image{
    overflow: hidden;


    display: -webkit-box;
    display: flex;


    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: middle;

    img{
        width: 100%;
        max-height: inherit;
    }
}

.hw-flex-start-image{
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    justify-content : flex-start !important;
    -webkit-justify-content: flex-start !important;
    -webkit-align-items : flex-start !important;
    align-items: flex-start !important;
    vertical-align: middle;
}