@import "common";
@import "icon";
@import "component";
@import "dialog";

body{
    background: #f7f7f7;
}
.hw-site-page{
    margin-top: 24px;
    min-height: 400px;
    margin-bottom: 50px;
    overflow-x:hidden;
}
@import "site/base";
@import "site/index";
@import "site/couponlist";
@import "site/storelist";
@import "site/articlelist";
@import "site/articledetail";
@import "site/landing";
@import "site/storedetail";