@import "common";
@import "icon";
@import "component";
@import "dialog";

body{
    background: #f7f7f7;
}
.hw-site-page{
    margin-top: 24px;
    min-height: 600px;
    margin-bottom: 50px;
}

@import "site/couponlist";
@import "site/articlelist";
@import "site/articledetail";