* {
  font-family: Microsoft YaHei, STHeiti, sans-serif;
  font-size: 14px;
  color: #4a4a4a; }

a {
  display: inline-block; }

a:hover, a:link {
  text-decoration: none; }

.container {
  width: 1080px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }

.icon {
  display: inline-block; }

.icon-coupon {
  width: 29px;
  height: 30px;
  background: url("../image/store_coupon.png"); }

.kg-header-comp .container {
  height: 88px;
  background: #ffffff; }
.kg-header-comp .logo {
  display: block;
  width: 120px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url("../image/haiwai.png") 0 0 no-repeat; }
.kg-header-comp .search {
  width: 520px;
  height: 40px;
  margin: 24px auto;
  border-color: #9b9b9b; }
  .kg-header-comp .search span {
    background: #ffffff; }
    .kg-header-comp .search span .icon {
      background: url("../image/search.png");
      display: block;
      width: 23px;
      height: 22px; }
  .kg-header-comp .search input {
    height: 40px;
    border-left: 0; }
.kg-header-comp .right {
  position: absolute;
  top: 26px;
  right: 0; }
  .kg-header-comp .right .dropdown {
    float: left; }
    .kg-header-comp .right .dropdown button {
      background: transparent;
      border: none; }
      .kg-header-comp .right .dropdown button:focus {
        outline: none; }
      .kg-header-comp .right .dropdown button img {
        width: 36px;
        height: 28px; }
    .kg-header-comp .right .dropdown .c2 img {
      width: 30px;
      height: 30px;
      border-radius: 15px; }
  .kg-header-comp .right .dropdown-menu {
    padding: 0;
    border-radius: 0;
    border-color: #c5c5c5;
    width: 190px; }
    .kg-header-comp .right .dropdown-menu a {
      line-height: 42px;
      color: #4a4a4a;
      font-size: 14px;
      text-indent: 10px;
      display: inline-block;
      width: 100%; }
      .kg-header-comp .right .dropdown-menu a:hover {
        background: #f5f5f5; }

.kg-header-nav-comp {
  background: #00a7bc;
  height: 40px; }
  .kg-header-nav-comp .nav {
    width: 128px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block; }
  .kg-header-nav-comp .nav.active, .kg-header-nav-comp .nav:hover {
    background: #27b4cb; }

.hw-footer-comp {
  background: #37bccd;
  margin-top: 80px; }
  .hw-footer-comp .container {
    height: 220px; }
    .hw-footer-comp .container .logo {
      background: url("../image/haiwai1.png");
      width: 88px;
      height: 88px;
      margin: 24px auto 0;
      background-size: 100%; }
    .hw-footer-comp .container .smap, .hw-footer-comp .container .cr {
      color: #fff;
      margin: 35px auto 0;
      text-align: center; }
      .hw-footer-comp .container .smap a, .hw-footer-comp .container .cr a {
        color: #ffffff;
        margin: 0 4px; }
    .hw-footer-comp .container .cr {
      margin-top: 15px;
      font-size: 12px; }

.hw-comp-BackPageLink {
  margin-top: 24px;
  text-align: left; }
  .hw-comp-BackPageLink a {
    font-size: 18px;
    color: #4a4a4a; }
  .hw-comp-BackPageLink .icon {
    color: #4a4a4a;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 2px; }

.hw-comp-RightPanelList-1 .hw-drop button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative; }
  .hw-comp-RightPanelList-1 .hw-drop button:focus {
    outline: none; }
  .hw-comp-RightPanelList-1 .hw-drop button input {
    background: #ffffff;
    height: 40px;
    border-radius: 0;
    margin-top: 2px;
    padding-right: 30px;
    color: #4a4a4a;
    font-size: 14px;
    cursor: pointer; }
.hw-comp-RightPanelList-1 .hw-drop .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 24px;
  color: #929292; }
.hw-comp-RightPanelList-1 .dropdown-menu {
  width: auto;
  text-align: left;
  border-radius: 0;
  border: 1px solid #c5c5c5;
  margin-top: -1px;
  padding: 0; }
  .hw-comp-RightPanelList-1 .dropdown-menu li {
    line-height: 36px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px; }
    .hw-comp-RightPanelList-1 .dropdown-menu li:hover {
      background: #f5f5f5; }

.hw-comp-star {
  display: inline-block; }
  .hw-comp-star .icon {
    font-size: 20px;
    color: #f4a62a;
    margin-right: 4px; }

.hw-comp-BaseInput {
  text-align: left; }
  .hw-comp-BaseInput .lab {
    color: #4a4a4a;
    font-size: 14px; }
  .hw-comp-BaseInput .hw-err {
    float: right; }
  .hw-comp-BaseInput input {
    background: #ffffff;
    height: 40px;
    border-radius: 0;
    margin-top: 2px; }
  .hw-comp-BaseInput .require:after {
    content: '*';
    color: #ff0000;
    position: relative;
    left: 4px;
    top: 5px;
    font-size: 16px; }

.hw-mybiz-index, .hw-mybiz-coupon {
  margin-top: 24px;
  min-height: 800px; }
  .hw-mybiz-index .hw-box, .hw-mybiz-coupon .hw-box {
    position: relative;
    left: -16px;
    margin: 0 auto;
    width: 580px; }
  .hw-mybiz-index .hw-info, .hw-mybiz-coupon .hw-info {
    text-align: center;
    color: #4a4a4a;
    padding-top: 15px;
    font-weight: 700;
    height: 80px; }

/* biz comp */
.hw-MybizLeftUserNav {
  width: 210px;
  height: 295px;
  position: absolute;
  background: #f7f7f7;
  text-align: center; }
  .hw-MybizLeftUserNav .hw-img {
    margin: 27px auto 0; }
    .hw-MybizLeftUserNav .hw-img img {
      width: 68px;
      height: 68px;
      border-radius: 34px; }
  .hw-MybizLeftUserNav .hw-email {
    display: block;
    line-height: 16px;
    font-size: 12px;
    margin: 10px auto; }
  .hw-MybizLeftUserNav .hw-a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #777;
    border-left: 4px solid #f7f7f7;
    font-weight: 700; }
    .hw-MybizLeftUserNav .hw-a:hover, .hw-MybizLeftUserNav .hw-a.active {
      border-left: 4px solid #37bccd;
      color: #37bccd; }

.hw-MybizRightStoreRank {
  width: 240px;
  height: 350px;
  border: 1px solid #c5c5c5;
  position: absolute;
  right: 0;
  padding: 16px 15px 24px 15px;
  text-align: center; }
  .hw-MybizRightStoreRank span {
    color: #4a4a4a;
    display: block;
    font-size: 18px;
    font-weight: 700; }
  .hw-MybizRightStoreRank b {
    font-size: 48px;
    display: block;
    color: #4a4a4a;
    margin-top: 8px; }
  .hw-MybizRightStoreRank .range {
    width: 210px;
    margin-top: 5px;
    height: 15px;
    border-radius: 8px;
    overflow: hidden;
    background: #d8d8d8; }
    .hw-MybizRightStoreRank .range em {
      height: 100%;
      display: block;
      background: #37bccd; }
  .hw-MybizRightStoreRank p {
    color: #4a4a4a;
    font-size: 14px;
    text-align: left;
    margin-top: 35px; }
  .hw-MybizRightStoreRank a {
    display: block;
    color: #37bccd;
    text-align: left;
    margin-top: 12px; }
    .hw-MybizRightStoreRank a:after {
      content: '>';
      float: right; }

.hw-comp-store-list .hw-each {
  border-top: 1px solid #c5c5c5;
  height: 96px;
  padding-left: 106px;
  padding-right: 100px;
  position: relative; }
  .hw-comp-store-list .hw-each .hw-img {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0; }
  .hw-comp-store-list .hw-each h4 {
    font-size: 18px;
    color: #000;
    margin-top: 14px; }
  .hw-comp-store-list .hw-each p {
    color: #4a4a4a;
    font-size: 12px;
    margin: 0; }
  .hw-comp-store-list .hw-each em {
    color: #37bccd;
    font-size: 12px;
    font-style: normal;
    display: inline-block;
    margin-top: 8px; }
  .hw-comp-store-list .hw-each .r {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 16px;
    text-align: right; }
    .hw-comp-store-list .hw-each .r .hw-a {
      display: block;
      color: #37bccd;
      font-size: 14px;
      margin-top: 16px;
      font-weight: 700;
      cursor: pointer; }

.hw-MybizCreateNewStore {
  height: 96px;
  border: 1px dashed #c5c5c5;
  position: relative;
  display: block; }
  .hw-MybizCreateNewStore .hw-img {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 0;
    background: #c5c5c5; }
    .hw-MybizCreateNewStore .hw-img img {
      width: 60%;
      height: 60%;
      margin: 20%; }
  .hw-MybizCreateNewStore .hw-img.coupon {
    width: 158px;
    text-align: center; }
    .hw-MybizCreateNewStore .hw-img.coupon img {
      width: 46px;
      height: 46px;
      margin: 25px auto; }
  .hw-MybizCreateNewStore .hw-img.article img {
    width: 50%;
    height: 50%;
    margin: 25%; }
  .hw-MybizCreateNewStore i {
    font-size: 80px;
    color: #7d7d7d;
    position: absolute;
    left: 220px;
    top: 6px;
    font-style: normal;
    display: inline-block;
    line-height: 80px; }
  .hw-MybizCreateNewStore b {
    position: absolute;
    color: #7d7d7d;
    top: 40px;
    left: 290px;
    font-weight: 400; }

.hw-comp-bform {
  margin-top: 24px;
  background: #f5f5f5;
  min-height: 200px;
  padding: 40px 180px 50px; }
  .hw-comp-bform h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    color: #4a4a4a; }
  .hw-comp-bform .require:after {
    content: '*';
    color: #ff0000;
    position: relative;
    left: 4px;
    top: 5px;
    font-size: 16px; }
  .hw-comp-bform .form-group {
    text-align: left;
    margin-top: 25px; }
    .hw-comp-bform .form-group input, .hw-comp-bform .form-group textarea {
      background: #ffffff;
      height: 40px;
      border-radius: 0;
      margin-top: 2px; }
    .hw-comp-bform .form-group .hw-drop {
      background: transparent;
      border: none;
      padding: 0;
      position: relative;
      width: 100%; }
      .hw-comp-bform .form-group .hw-drop:focus {
        outline: none; }
      .hw-comp-bform .form-group .hw-drop .icon {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 24px; }
    .hw-comp-bform .form-group .dropdown-menu {
      width: 100%;
      text-align: right;
      border-radius: 0;
      border: 1px solid #c5c5c5;
      margin-top: -5px;
      padding: 0; }
      .hw-comp-bform .form-group .dropdown-menu li {
        line-height: 36px;
        cursor: pointer;
        font-size: 14px;
        padding-right: 15px; }
        .hw-comp-bform .form-group .dropdown-menu li:hover {
          background: #f5f5f5; }
  .hw-comp-bform .hw-btn {
    float: right;
    margin-top: 25px; }

.hw-myfav-list {
  margin-top: 24px;
  min-height: 800px; }
  .hw-myfav-list .hw-right-panel-list .hw-each {
    padding: 12px 15px;
    padding-left: 115px;
    height: 114px; }
    .hw-myfav-list .hw-right-panel-list .hw-each .hw-img {
      width: 90px;
      height: 90px;
      left: 15px;
      top: 12px; }
    .hw-myfav-list .hw-right-panel-list .hw-each .h4 {
      margin-top: 0;
      line-height: 24px;
      height: 24px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 b {
        font-size: 18px;
        color: #000; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon {
        vertical-align: top;
        position: relative; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon-v {
        font-size: 48px;
        font-family: STSongti-SC-Bold;
        color: #f4a62a;
        line-height: 48px;
        top: -18px;
        left: 2px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon-coupon {
        top: -2px;
        margin-left: 30px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .cpt {
        color: #f4a62a;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        top: -2px;
        left: 10px; }
    .hw-myfav-list .hw-right-panel-list .hw-each .hw-a {
      margin-top: 8px; }
  .hw-myfav-list .hw-right-panel-list .mask {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 90px;
    width: 90px;
    position: absolute;
    left: 15px;
    top: 12px;
    color: #4a4a4a;
    font-weight: 700; }

.hw-mycoupon-list {
  margin-top: 24px;
  min-height: 800px; }
  .hw-mycoupon-list .hw-right-panel-list .hw-each {
    padding: 12px 15px;
    padding-left: 184px;
    height: 120px;
    padding-right: 120px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .hw-img {
      width: 158px;
      height: 98px;
      left: 15px;
      top: 12px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 {
      margin-top: 0;
      line-height: 24px;
      height: 24px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 b {
        font-size: 21px;
        color: #f4a62a; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon {
        vertical-align: top;
        position: relative; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon-v {
        font-size: 48px;
        font-family: STSongti-SC-Bold;
        color: #f4a62a;
        line-height: 48px;
        top: -18px;
        left: 2px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon-coupon {
        top: -2px;
        margin-left: 30px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .cpt {
        color: #f4a62a;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        top: -2px;
        left: 10px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .hw-a {
      margin-top: 8px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .r {
      width: 120px; }
  .hw-mycoupon-list .hw-right-panel-list .mask {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 98px;
    width: 158px;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: 700; }

.hw-mysys-index {
  margin-top: 24px;
  min-height: 800px; }
  .hw-mysys-index .hw-right-panel-list {
    border-top: 1px solid #c5c5c5; }
    .hw-mysys-index .hw-right-panel-list .hw-each {
      padding: 12px 0;
      height: 44px;
      margin: 0 15px;
      border-top: 1px solid #c5c5c5;
      border-bottom: none;
      margin-top: -1px;
      padding-right: 100px; }
      .hw-mysys-index .hw-right-panel-list .hw-each .h4 {
        margin: 0; }
        .hw-mysys-index .hw-right-panel-list .hw-each .h4 input[type=checkbox] {
          font-size: 24px; }
        .hw-mysys-index .hw-right-panel-list .hw-each .h4 .hw-u {
          color: #777;
          margin-left: 10px;
          position: relative;
          top: 0; }
        .hw-mysys-index .hw-right-panel-list .hw-each .h4 b {
          display: inline-block;
          margin-left: 15px;
          position: relative;
          top: 0; }
      .hw-mysys-index .hw-right-panel-list .hw-each .hw-a {
        margin-top: 12px; }
      .hw-mysys-index .hw-right-panel-list .hw-each .r {
        width: 100px;
        padding-right: 0; }

.hw-mycount-page {
  margin-top: 24px;
  min-height: 600px; }

.hw-mycount-info, .hw-mycount-password {
  width: 870px;
  min-height: 300px;
  background: #f7f7f7;
  float: right;
  padding: 50px 182px; }
  .hw-mycount-info .form-group, .hw-mycount-password .form-group {
    margin-bottom: 25px; }

.hw-comp-MycountLeftNav {
  width: 210px;
  text-align: center;
  float: left; }
  .hw-comp-MycountLeftNav .hw-a {
    display: block;
    line-height: 50px;
    font-size: 18px;
    color: #777777; }
    .hw-comp-MycountLeftNav .hw-a.active {
      background: #f7f7f7;
      color: #4a4a4a;
      cursor: default; }

.hw-panel {
  border-radius: 0;
  border: 1px solid #c5c5c5; }
  .hw-panel .panel-heading {
    background: #f7f7f7; }
    .hw-panel .panel-heading .r {
      color: #37bccd;
      float: right; }
  .hw-panel .panel-body {
    padding: 0; }

.hw-btn {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  min-width: 96px;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  border-radius: 2px; }
  .hw-btn:focus {
    outline: none; }

.hw-blue-btn {
  color: #fff;
  background: #37bccd;
  border: 1px solid #37bccd; }
  .hw-blue-btn:hover, .hw-blue-btn:link {
    color: #fff; }
  .hw-blue-btn:hover {
    background: #00a7bc; }

.hw-light-btn {
  color: #37bccd;
  background: transparent;
  border: 1px solid #37bccd; }
  .hw-light-btn:hover, .hw-light-btn:link {
    color: #37bccd; }

#kg_modal_dialog .modal-dialog {
  margin-top: 200px; }
#kg_modal_dialog .modal-header {
  height: 50px;
  border-bottom: none; }
  #kg_modal_dialog .modal-header .close {
    opacity: 1; }
    #kg_modal_dialog .modal-header .close:hover {
      opacity: 0.8; }
    #kg_modal_dialog .modal-header .close i {
      font-size: 24px;
      color: #4a4a4a; }
#kg_modal_dialog .modal-content {
  border-radius: 0;
  min-width: 430px; }
  #kg_modal_dialog .modal-content .modal-body {
    padding-top: 0; }
  #kg_modal_dialog .modal-content .hw-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0; }
  #kg_modal_dialog .modal-content .hw-body {
    font-size: 14px;
    color: #9b9b9b;
    padding: 20px 30px; }
#kg_modal_dialog .modal-footer {
  background: #f7f7f7;
  padding: 20px;
  text-align: center; }
  #kg_modal_dialog .modal-footer .hw-light-btn {
    margin-right: 40px; }

/*# sourceMappingURL=style.css.map */
