@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-text-size-adjust: none;
  height: 100%;
  position: relative;
  padding-bottom: 220px; }

* {
  font-family: MicrosoftYaHei, STHeiti, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0; }

a {
  display: inline-block; }

a:hover, a:link {
  text-decoration: none; }

.container {
  width: 1080px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }

.nodis {
  display: none; }

.no_dis {
  display: none !important; }

.hand {
  cursor: pointer !important; }

.hw-loadingmore-bar {
  padding: 12px 0;
  text-align: center; }
  .hw-loadingmore-bar .loading {
    background: url("../image/loading.gif");
    display: inline-block;
    width: 32px;
    height: 32px; }
  .hw-loadingmore-bar b {
    font-size: 14px;
    cursor: pointer; }

#fakeLoader1 .spinner7 > div, #fakeLoader .spinner7 > div {
  background: #f4a62a; }

#fakeLoader1 .spinner7, #fakeLoader .spinner7 {
  top: auto !important;
  bottom: 220px !important; }

.icon-v {
  font-size: 48px;
  font-family: STSongti-SC-Bold;
  color: #f4a62a;
  line-height: 48px; }

.hw-mypage {
  margin-top: 24px;
  min-height: 800px;
  margin-bottom: 40px; }

.hw-panel {
  border-radius: 0;
  border: 1px solid #c5c5c5; }
  .hw-panel .panel-heading {
    background: #f7f7f7; }
    .hw-panel .panel-heading .r {
      color: #37bccd;
      float: right; }
  .hw-panel .panel-body {
    padding: 0; }

.form-group {
  text-align: left;
  position: relative; }
  .form-group .lab {
    color: #4a4a4a;
    font-size: 14px; }
  .form-group .hw-err {
    float: right;
    position: relative;
    top: 4px; }
  .form-group input {
    background: #ffffff;
    height: 40px;
    border-radius: 0;
    margin-top: 2px; }
  .form-group .require:after {
    content: '*';
    color: #ff0000;
    position: relative;
    left: 4px;
    top: 5px;
    font-size: 16px; }
  .form-group .del {
    position: absolute;
    z-index: 2;
    font-size: 20px;
    top: 40px;
    right: 8px;
    cursor: pointer;
    color: #4a4a4a; }

label.require:after {
  content: '*';
  color: #ff0000;
  position: relative;
  left: 4px;
  top: 5px;
  font-size: 16px; }

.hw-btn {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  min-width: 96px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 3px; }
  .hw-btn:focus {
    outline: none; }

.hw-blue-btn {
  color: #fff;
  background: #37bccd;
  border: 1px solid #37bccd; }
  .hw-blue-btn:hover, .hw-blue-btn:link {
    color: #fff; }
  .hw-blue-btn:hover {
    background: #00a7bc; }
  .hw-blue-btn:visited {
    color: #fff; }

.hw-light-btn {
  color: #37bccd;
  background: transparent;
  border: 1px solid #37bccd; }
  .hw-light-btn:hover, .hw-light-btn:link {
    color: #37bccd; }

/* login and reg box */
.hw-loginRegBoxComp {
  width: 711px;
  min-height: 300px;
  background: #ffffff;
  padding: 45px 0 0 0;
  margin: 0 auto;
  position: relative;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  overflow: hidden;
  text-align: center; }
  .hw-loginRegBoxComp .c-tlt {
    position: relative;
    margin-bottom: 45px;
    height: 28px; }
    .hw-loginRegBoxComp .c-tlt h4 b {
      font-size: 18px;
      color: #4a4a4a; }
    .hw-loginRegBoxComp .c-tlt img {
      position: absolute;
      width: 68px;
      height: 68px;
      top: -24px;
      margin-left: -34px; }
  .hw-loginRegBoxComp .c-left {
    height: 265px;
    width: 52%;
    border-right: 1px solid #c5c5c5; }
    .hw-loginRegBoxComp .c-left h4 {
      font-size: 18px;
      color: #4a4a4a;
      margin-bottom: 10px; }
    .hw-loginRegBoxComp .c-left .c-error {
      color: #f20d0d;
      font-size: 14px;
      text-align: right;
      width: 288px;
      margin: 5px auto; }
    .hw-loginRegBoxComp .c-left input {
      width: 288px;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      color: #7d7d7d;
      margin-bottom: 20px;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      padding-left: 10px; }
    .hw-loginRegBoxComp .c-left .hw-btn {
      width: 288px;
      font-size: 16px; }
    .hw-loginRegBoxComp .c-left p {
      font-size: 12px;
      color: #9b9b9b;
      margin-top: 20px; }
      .hw-loginRegBoxComp .c-left p a {
        color: #37bccd;
        font-size: 12px; }
  .hw-loginRegBoxComp .c-right {
    position: absolute;
    right: 0;
    width: 48%;
    height: 265px;
    top: 118px; }
    .hw-loginRegBoxComp .c-right h4 {
      font-size: 14px;
      margin-top: 24px;
      color: #7d7d7d; }
    .hw-loginRegBoxComp .c-right .hw-btn {
      width: 244px;
      line-height: 42px;
      height: 42px;
      margin-top: 24px;
      border-radius: 3px;
      color: #ffffff; }
      .hw-loginRegBoxComp .c-right .hw-btn .icon {
        display: inline-block;
        vertical-align: bottom;
        width: 42px;
        height: 42px;
        position: relative;
        background-size: 100%; }
    .hw-loginRegBoxComp .c-right .hw-weixin {
      background: #12b116; }
      .hw-loginRegBoxComp .c-right .hw-weixin .icon {
        background-image: url("../image/wechat_login.png"); }
    .hw-loginRegBoxComp .c-right .hw-fb {
      background: #3b5998; }
      .hw-loginRegBoxComp .c-right .hw-fb .icon {
        background-image: url("../image/facebook_login.png"); }
  .hw-loginRegBoxComp .c-btm {
    height: 56px;
    background: #f5f5f5;
    margin-top: 20px;
    padding-top: 12px; }
    .hw-loginRegBoxComp .c-btm p {
      font-size: 12px;
      color: #9b9b9b; }
      .hw-loginRegBoxComp .c-btm p .hw-btn {
        line-height: 30px;
        border: 1px solid #9b9b9b;
        color: #9b9b9b;
        min-width: 74px;
        margin-left: 10px;
        cursor: pointer; }
    .hw-loginRegBoxComp .c-btm h6 {
      font-size: 14px;
      color: #9b9b9b; }
      .hw-loginRegBoxComp .c-btm h6 a {
        font-size: 14px;
        color: #37bccd;
        cursor: pointer; }

.hw-center-image {
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  vertical-align: middle; }
  .hw-center-image img {
    width: 100%;
    max-height: inherit; }

.hw-flex-start-image {
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
  vertical-align: middle; }

.icon {
  display: inline-block; }

.icon-coupon {
  width: 29px;
  height: 30px;
  background: url("../image/store_coupon.png"); }

.kg-header-comp {
  background: #fff; }
  .kg-header-comp .container {
    height: 88px;
    background: #ffffff; }
  .kg-header-comp .logo {
    display: block;
    width: 120px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 22px;
    background: url("../image/haiwai.png") 0 0 no-repeat; }
  .kg-header-comp .hw-loc {
    position: absolute;
    top: 34px;
    left: 120px;
    cursor: pointer; }
    .kg-header-comp .hw-loc span {
      font-size: 16px;
      color: #4a4a4a; }
    .kg-header-comp .hw-loc .icon {
      margin-left: 5px;
      font-size: 18px; }
  .kg-header-comp .search {
    width: 520px;
    height: 40px;
    margin: 24px auto;
    border-color: #9b9b9b;
    position: relative; }
    .kg-header-comp .search span {
      background: #ffffff; }
      .kg-header-comp .search span .icon {
        background: url("../image/search.png");
        display: block;
        width: 23px;
        height: 22px; }
    .kg-header-comp .search input {
      height: 40px;
      border-left: 0;
      border-color: #cccccc;
      box-shadow: none; }
      .kg-header-comp .search input:focus {
        outline: 0;
        border-color: #cccccc;
        box-shadow: none; }
  .kg-header-comp .right {
    position: absolute;
    top: 26px;
    right: 0; }
    .kg-header-comp .right .dropdown {
      float: left; }
      .kg-header-comp .right .dropdown button {
        background: transparent;
        border: none; }
        .kg-header-comp .right .dropdown button:focus {
          outline: none; }
        .kg-header-comp .right .dropdown button img {
          width: 36px;
          height: 28px; }
      .kg-header-comp .right .dropdown .c2 img {
        width: 30px;
        height: 30px;
        border-radius: 15px; }
    .kg-header-comp .right .dropdown-menu {
      padding: 0;
      border-radius: 0;
      border-color: #c5c5c5;
      width: 190px; }
      .kg-header-comp .right .dropdown-menu a {
        line-height: 42px;
        color: #4a4a4a;
        font-size: 14px;
        text-indent: 10px;
        display: inline-block;
        width: 100%; }
        .kg-header-comp .right .dropdown-menu a:hover {
          background: #f5f5f5; }
    .kg-header-comp .right .hw-a {
      color: #37bccd;
      margin-left: 15px; }
    .kg-header-comp .right .hw-btn {
      height: 36px;
      line-height: 34px;
      font-size: 14px;
      border-width: 2px;
      border-radius: 5px;
      padding-left: 25px;
      padding-right: 25px; }
      .kg-header-comp .right .hw-btn:hover {
        background: #37bccd;
        color: #ffffff; }

.kg-header-nav-comp {
  background: #00a7bc;
  height: 40px; }
  .kg-header-nav-comp .nav {
    width: 128px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block; }
  .kg-header-nav-comp .nav.active, .kg-header-nav-comp .nav:hover {
    background: #37bccd; }

.kg-site-header-nav-comp {
  background: #37bccd !important; }
  .kg-site-header-nav-comp .nav.active, .kg-site-header-nav-comp .nav:hover {
    background: #00a7bc !important; }

.hw-footer-comp {
  background: #37bccd;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }
  .hw-footer-comp .container {
    height: 220px; }
    .hw-footer-comp .container .logo {
      background: url("../image/haiwai2.png");
      width: 49px;
      height: 51px;
      margin: 20px auto 0;
      background-size: 100%; }
    .hw-footer-comp .container .smap, .hw-footer-comp .container .cr {
      color: #fff;
      margin: 35px auto 0;
      text-align: center; }
      .hw-footer-comp .container .smap a, .hw-footer-comp .container .cr a {
        color: #ffffff;
        margin: 0 4px;
        font-size: 14px; }
      .hw-footer-comp .container .smap span, .hw-footer-comp .container .cr span {
        margin: 0 8px;
        font-size: 14px;
        display: inline-block;
        color: #ffffff; }
    .hw-footer-comp .container .cr {
      margin-top: 40px;
      font-size: 12px; }

.hw-comp-BackPageLink {
  margin-top: 24px;
  text-align: left; }
  .hw-comp-BackPageLink a {
    font-size: 18px;
    color: #4a4a4a; }
  .hw-comp-BackPageLink .icon {
    color: #4a4a4a;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 2px; }

.hw-comp-RightPanelList-1 .hw-drop button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative; }
  .hw-comp-RightPanelList-1 .hw-drop button:focus {
    outline: none; }
  .hw-comp-RightPanelList-1 .hw-drop button input {
    background: #ffffff;
    height: 40px;
    border-radius: 0;
    margin-top: 2px;
    padding-right: 30px;
    color: #4a4a4a;
    font-size: 14px;
    cursor: pointer; }
.hw-comp-RightPanelList-1 .hw-drop .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 24px;
  color: #929292; }
.hw-comp-RightPanelList-1 .dropdown-menu {
  width: auto;
  text-align: left;
  border-radius: 0;
  border: 1px solid #c5c5c5;
  margin-top: -1px;
  padding: 0; }
  .hw-comp-RightPanelList-1 .dropdown-menu li {
    line-height: 36px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px; }
    .hw-comp-RightPanelList-1 .dropdown-menu li:hover {
      background: #f5f5f5; }

.hw-comp-BaseSelectInput .hw-drop button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 100%; }
  .hw-comp-BaseSelectInput .hw-drop button:focus {
    outline: none; }
  .hw-comp-BaseSelectInput .hw-drop button input {
    background: #ffffff;
    height: 40px;
    border-radius: 0;
    margin-top: 2px;
    padding-right: 30px;
    color: #4a4a4a;
    font-size: 14px;
    cursor: pointer; }
    .hw-comp-BaseSelectInput .hw-drop button input[disabled] {
      background: #f5f5f5;
      cursor: not-allowed; }
.hw-comp-BaseSelectInput .hw-drop .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 24px;
  color: #929292; }
.hw-comp-BaseSelectInput .dropdown-menu {
  width: 100%;
  text-align: left;
  border-radius: 0;
  border: 1px solid #c5c5c5;
  margin-top: -1px;
  padding: 0; }
  .hw-comp-BaseSelectInput .dropdown-menu li {
    line-height: 36px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px; }
    .hw-comp-BaseSelectInput .dropdown-menu li:hover {
      background: #f5f5f5; }

.hw-comp-star {
  display: inline-block; }
  .hw-comp-star .icon {
    font-size: 20px;
    color: #f4a62a;
    margin-right: 8px; }

.hw-HWSelectRegionLocation .hw-btn {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 15px 0 0;
  min-width: inherit; }
  .hw-HWSelectRegionLocation .hw-btn:hover {
    background: #ebebeb; }
  .hw-HWSelectRegionLocation .hw-btn.active {
    color: #ffffff;
    background: #37bccd; }

.hw-comp-BaseLoadingImageBox {
  background: transparent; }
  .hw-comp-BaseLoadingImageBox .icon-loading {
    display: block;
    background: url(../image/loading.gif);
    width: 32px;
    height: 32px; }

.hw-comp-BaseLoadingMoreStatusBar {
  width: 100%;
  padding: 12px 0;
  text-align: center; }
  .hw-comp-BaseLoadingMoreStatusBar i.loading {
    background: url("../image/loading.gif");
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto; }
  .hw-comp-BaseLoadingMoreStatusBar b {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
    cursor: pointer; }

#kg_modal_dialog .modal-dialog {
  margin-top: 150px; }
#kg_modal_dialog .modal-header {
  height: 50px;
  border-bottom: none; }
  #kg_modal_dialog .modal-header .close {
    opacity: 1; }
    #kg_modal_dialog .modal-header .close:hover {
      opacity: 0.8; }
    #kg_modal_dialog .modal-header .close i {
      font-size: 24px;
      color: #4a4a4a; }
#kg_modal_dialog .modal-content {
  border-radius: 0;
  min-width: 430px; }
  #kg_modal_dialog .modal-content .modal-body {
    padding-top: 0; }
    #kg_modal_dialog .modal-content .modal-body .hw-icon {
      margin-right: 15px;
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border: 3px solid #37bccd; }
      #kg_modal_dialog .modal-content .modal-body .hw-icon .fa {
        color: #37bccd;
        font-size: 24px;
        position: relative;
        top: 3px; }
  #kg_modal_dialog .modal-content .hw-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0; }
  #kg_modal_dialog .modal-content .hw-body {
    font-size: 14px;
    color: #9b9b9b;
    padding: 20px 30px; }
#kg_modal_dialog .modal-footer {
  background: #f7f7f7;
  padding: 20px;
  text-align: center; }
  #kg_modal_dialog .modal-footer .hw-light-btn {
    margin-right: 40px; }

.hw-dialog-imglist .modal-dialog {
  width: 742px; }
  .hw-dialog-imglist .modal-dialog .modal-header {
    border-bottom: 1px solid #ebebeb !important; }
.hw-dialog-imglist .hw-body {
  padding: 20px 10px !important; }
.hw-dialog-imglist .hw-title {
  position: absolute;
  top: -32px; }
.hw-dialog-imglist .img-item {
  width: 160px;
  height: 160px;
  margin-right: 8px;
  cursor: pointer;
  display: inline-flex;
  background: #f7f7f7;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px; }

.hw-carousel .modal-dialog {
  width: 742px; }
  .hw-carousel .modal-dialog .modal-header {
    border-bottom: 1px solid #ebebeb !important; }
.hw-carousel .hw-body {
  padding: 20px 10px !important; }
.hw-carousel .carousel .carousel-indicators {
  display: none; }
.hw-carousel .carousel .carousel-inner .item {
  text-align: center; }
  .hw-carousel .carousel .carousel-inner .item img {
    height: 300px;
    max-width: 586px;
    margin: 0 auto; }
.hw-carousel .carousel .carousel-control {
  background: transparent;
  width: 20px; }

.hw-confirm1 .modal-dialog {
  width: 432px; }
  .hw-confirm1 .modal-dialog .modal-header {
    border-bottom: 1px solid #ebebeb !important; }
  .hw-confirm1 .modal-dialog .modal-body {
    padding-top: 20px !important; }
  .hw-confirm1 .modal-dialog .modal-footer {
    background: #ffffff !important;
    border-top: none !important; }

.hw-confirm .modal-dialog {
  width: 496px; }
  .hw-confirm .modal-dialog .modal-body {
    padding-top: 20px !important; }
  .hw-confirm .modal-dialog .modal-footer {
    border-top: none !important; }

.hw-dialog-qrcode .modal-dialog {
  width: 610px; }
  .hw-dialog-qrcode .modal-dialog .modal-header {
    border-bottom: 1px solid #ebebeb !important; }
  .hw-dialog-qrcode .modal-dialog .modal-body {
    padding: 20px 40px !important; }
    .hw-dialog-qrcode .modal-dialog .modal-body .hw-title {
      font-size: 16px !important; }
.hw-dialog-qrcode .hw-qr {
  text-align: center; }
  .hw-dialog-qrcode .hw-qr img {
    margin: 20px auto;
    width: 200px;
    height: 200px; }

.hw-dialog-login .modal-dialog {
  width: 713px !important;
  border-radius: 4px;
  min-height: 400px; }
  .hw-dialog-login .modal-dialog .modal-header {
    border-bottom: none !important; }
    .hw-dialog-login .modal-dialog .modal-header .close {
      position: relative;
      z-index: 2; }
  .hw-dialog-login .modal-dialog .modal-body {
    padding: 0 !important;
    text-align: center; }
    .hw-dialog-login .modal-dialog .modal-body .hw-title {
      display: none; }
    .hw-dialog-login .modal-dialog .modal-body .hw-body {
      padding: 0 !important; }
    .hw-dialog-login .modal-dialog .modal-body .hw-loginRegBoxComp {
      border: none;
      position: absolute;
      top: -50px;
      left: 0; }

.hw-dialog-alert .box {
  width: 520px !important; }
.hw-dialog-alert .modal-header .close {
  display: none !important; }
.hw-dialog-alert .modal-body {
  text-align: center !important; }

.hw-dialog-coupon .modal-dialog {
  width: 585px !important;
  margin-top: 100px !important; }
.hw-dialog-coupon .modal-header {
  height: 0 !important; }
  .hw-dialog-coupon .modal-header .close {
    position: relative !important;
    z-index: 99; }
.hw-dialog-coupon .modal-body {
  padding: 18px 15px !important; }
  .hw-dialog-coupon .modal-body .hw-body {
    padding: 0 !important; }

.hw-dialog-region .modal-dialog {
  width: 820px !important;
  margin-top: 100px !important; }
.hw-dialog-region .modal-header {
  border-bottom: 1px solid #ebebeb !important; }
.hw-dialog-region .modal-body {
  padding: 18px 15px !important; }

.hw-660-dialog .modal-dialog {
  width: 680px !important; }
  .hw-660-dialog .modal-dialog .modal-header {
    border-bottom: 1px solid #ebebeb !important; }
  .hw-660-dialog .modal-dialog .modal-body .modal-body {
    padding: 0 20px !important; }
    .hw-660-dialog .modal-dialog .modal-body .modal-body .hw-body {
      padding: 0 !important; }
  .hw-660-dialog .modal-dialog .modal-body .hw-title {
    font-size: 18px !important;
    position: relative;
    top: -32px;
    color: #4a4a4a !important;
    font-weight: normal !important; }
    .hw-660-dialog .modal-dialog .modal-body .hw-title b {
      font-size: 18px;
      color: #37bccd;
      font-weight: normal; }

.hw-mybiz-index, .hw-mybiz-coupon {
  margin-top: 24px;
  min-height: 800px;
  padding-bottom: 50px; }
  .hw-mybiz-index .hw-box, .hw-mybiz-coupon .hw-box {
    position: relative;
    left: -16px;
    margin: 0 auto;
    width: 580px; }
  .hw-mybiz-index .hw-info, .hw-mybiz-coupon .hw-info {
    text-align: center;
    color: #4a4a4a;
    padding-top: 15px;
    font-weight: 700;
    height: 80px; }

.hw-panel .panel-heading {
  border-bottom: 1px solid #c5c5c5; }

/* biz comp */
.hw-MybizLeftUserNav {
  width: 210px;
  height: 295px;
  position: absolute;
  background: #f7f7f7;
  text-align: center; }
  .hw-MybizLeftUserNav .hw-img {
    margin: 27px auto 0; }
    .hw-MybizLeftUserNav .hw-img img {
      width: 68px;
      height: 68px;
      border-radius: 34px; }
  .hw-MybizLeftUserNav .hw-email {
    display: block;
    line-height: 16px;
    font-size: 12px;
    margin: 10px auto;
    padding: 0 15px; }
    .hw-MybizLeftUserNav .hw-email a {
      display: inline;
      font-size: 12px;
      color: #7d7d7d;
      margin-left: 5px; }
      .hw-MybizLeftUserNav .hw-email a:hover {
        color: #37bccd; }
  .hw-MybizLeftUserNav .hw-a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #777;
    border-left: 4px solid #f7f7f7;
    font-weight: 400; }
    .hw-MybizLeftUserNav .hw-a.active {
      border-left: 4px solid #37bccd;
      color: #37bccd; }
    .hw-MybizLeftUserNav .hw-a:hover {
      color: #37bccd; }

.hw-HWMybizIndexStoreAdsBlock {
  width: 240px;
  border: 1px solid #c5c5c5;
  text-align: center; }
  .hw-HWMybizIndexStoreAdsBlock h4 {
    margin: 0 8px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    color: #9b9b9b;
    line-height: 36px;
    border-bottom: 1px solid #ebebeb; }
  .hw-HWMybizIndexStoreAdsBlock .cf {
    margin: 18px 25px 15px;
    font-size: 12px;
    color: #979797;
    text-align: left; }
    .hw-HWMybizIndexStoreAdsBlock .cf a {
      color: #37bccd;
      font-size: 12px;
      display: inline; }
  .hw-HWMybizIndexStoreAdsBlock .hw-btn {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
    margin: 5px auto 20px; }

.hw-MybizRightStoreRank {
  width: 240px;
  height: 350px;
  border: 1px solid #c5c5c5;
  position: static;
  padding: 16px 15px 24px 15px;
  text-align: center;
  margin-top: 24px; }
  .hw-MybizRightStoreRank span {
    color: #4a4a4a;
    display: block;
    font-size: 18px;
    font-weight: 700; }
  .hw-MybizRightStoreRank b {
    font-size: 48px;
    display: block;
    color: #4a4a4a;
    margin-top: 8px; }
  .hw-MybizRightStoreRank .range {
    width: 210px;
    margin-top: 5px;
    height: 15px;
    border-radius: 8px;
    overflow: hidden;
    background: #d8d8d8; }
    .hw-MybizRightStoreRank .range em {
      height: 100%;
      display: block;
      background: #37bccd;
      transition: width 0.4s;
      -webkit-transition: width 0.4s; }
  .hw-MybizRightStoreRank p {
    color: #4a4a4a;
    font-size: 14px;
    text-align: left;
    margin-top: 35px; }
  .hw-MybizRightStoreRank a {
    display: block;
    color: #37bccd;
    text-align: left;
    margin-top: 12px; }
    .hw-MybizRightStoreRank a:after {
      content: '>';
      float: right; }

.hw-comp-store-list .hw-each {
  border-bottom: 1px solid #c5c5c5;
  height: 98px;
  padding-left: 168px;
  padding-right: 100px;
  position: relative;
  display: block; }
  .hw-comp-store-list .hw-each:hover .h4 {
    color: #37bccd; }
  .hw-comp-store-list .hw-each:hover .hw-link {
    color: #37bccd; }
  .hw-comp-store-list .hw-each .h4 {
    font-size: 18px;
    color: #4a4a4a; }
  .hw-comp-store-list .hw-each .hw-img {
    width: 158px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0; }
  .hw-comp-store-list .hw-each .hw-link {
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 10px; }
  .hw-comp-store-list .hw-each p {
    color: #4a4a4a;
    font-size: 12px;
    margin: 0;
    max-width: 580px; }
  .hw-comp-store-list .hw-each em {
    color: #37bccd;
    font-size: 12px;
    font-style: normal;
    display: inline-block;
    margin-top: 8px; }
  .hw-comp-store-list .hw-each .r {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 16px;
    text-align: right; }
    .hw-comp-store-list .hw-each .r .hw-a {
      display: block;
      color: #37bccd;
      font-size: 14px;
      margin-top: 16px;
      font-weight: 400;
      cursor: pointer; }

.hw-MybizCreateNewStore {
  height: 96px;
  border: 1px dashed #c5c5c5;
  position: relative;
  display: block; }
  .hw-MybizCreateNewStore .hw-img {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 0;
    background: #c5c5c5; }
    .hw-MybizCreateNewStore .hw-img img {
      width: 60%;
      height: 60%;
      margin: 20%; }
  .hw-MybizCreateNewStore .hw-img.article {
    width: 130px; }
    .hw-MybizCreateNewStore .hw-img.article img {
      width: 100%;
      height: 100%;
      margin: 0; }
  .hw-MybizCreateNewStore .hw-img.coupon {
    width: 158px;
    text-align: center; }
    .hw-MybizCreateNewStore .hw-img.coupon img {
      width: 100%;
      height: 100%;
      margin: 0; }
  .hw-MybizCreateNewStore i {
    font-size: 80px;
    color: #7d7d7d;
    position: absolute;
    left: 220px;
    top: 6px;
    font-style: normal;
    display: inline-block;
    line-height: 80px; }
  .hw-MybizCreateNewStore b {
    position: absolute;
    color: #7d7d7d;
    top: 40px;
    left: 290px;
    font-weight: 400; }

.hw-comp-bform {
  margin-top: 24px;
  background: #f5f5f5;
  min-height: 200px;
  padding: 40px 180px 50px;
  margin-bottom: 50px; }
  .hw-comp-bform input[disabled] {
    background: #ebebeb !important; }
  .hw-comp-bform h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    color: #4a4a4a; }
  .hw-comp-bform .require:after {
    content: '*';
    color: #ff0000;
    position: relative;
    left: 4px;
    top: 5px;
    font-size: 16px; }
  .hw-comp-bform .form-group {
    text-align: left;
    margin-top: 25px; }
    .hw-comp-bform .form-group input, .hw-comp-bform .form-group textarea {
      background: #ffffff;
      height: 40px;
      border-radius: 0;
      margin-top: 2px; }
    .hw-comp-bform .form-group .hw-drop {
      background: transparent;
      border: none;
      padding: 0;
      position: relative;
      width: 100%; }
      .hw-comp-bform .form-group .hw-drop:focus {
        outline: none; }
      .hw-comp-bform .form-group .hw-drop .icon {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 24px; }
    .hw-comp-bform .form-group .dropdown-menu {
      width: 100%;
      text-align: left;
      border-radius: 0;
      border: 1px solid #c5c5c5;
      margin-top: -5px;
      padding: 0; }
      .hw-comp-bform .form-group .dropdown-menu li {
        line-height: 36px;
        cursor: pointer;
        font-size: 14px;
        padding-right: 15px;
        padding-left: 15px; }
        .hw-comp-bform .form-group .dropdown-menu li:hover {
          background: #f5f5f5; }
  .hw-comp-bform .hw-btn {
    float: right;
    margin-top: 25px; }
  .hw-comp-bform .hw-delete {
    font-weight: normal;
    position: relative;
    top: 30px;
    color: #4a4a4a;
    cursor: pointer; }

/* 建店三步 */
.hw-createStore-page {
  width: 100%;
  min-height: 800px;
  background: #f7f7f7;
  padding-top: 20px; }
  .hw-createStore-page .hw-stepinfo {
    position: relative;
    height: 70px;
    margin-top: 40px;
    left: 10px; }
    .hw-createStore-page .hw-stepinfo div {
      display: inline-block; }
    .hw-createStore-page .hw-stepinfo .c {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      border: 4px solid #9b9b9b;
      position: relative;
      top: 2px;
      vertical-align: middle; }
      .hw-createStore-page .hw-stepinfo .c .fa {
        font-size: 24px;
        position: relative;
        top: 3px;
        left: 1px;
        color: #ffffff;
        display: none; }
    .hw-createStore-page .hw-stepinfo .d {
      width: 238px;
      height: 4px;
      background: #9b9b9b; }
    .hw-createStore-page .hw-stepinfo .p {
      display: inline-block;
      font-size: 14px;
      color: #777;
      position: absolute;
      top: 46px;
      font-weight: 700; }
    .hw-createStore-page .hw-stepinfo .p1 {
      left: -10px; }
    .hw-createStore-page .hw-stepinfo .p2 {
      left: 265px; }
    .hw-createStore-page .hw-stepinfo .p3 {
      right: 6px; }
  .hw-createStore-page .hw-stepinfo.step1 .c1 {
    border-color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step1 .p1 {
    color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step2 .c1 {
    border-color: #37bccd;
    background: #37bccd; }
    .hw-createStore-page .hw-stepinfo.step2 .c1 .fa {
      display: block; }
  .hw-createStore-page .hw-stepinfo.step2 .p1 {
    color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step2 .d1 {
    background: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step2 .c2 {
    border-color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step2 .p2 {
    color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step3 .c1, .hw-createStore-page .hw-stepinfo.step3 .c2 {
    border-color: #37bccd;
    background: #37bccd; }
    .hw-createStore-page .hw-stepinfo.step3 .c1 .fa, .hw-createStore-page .hw-stepinfo.step3 .c2 .fa {
      display: block; }
  .hw-createStore-page .hw-stepinfo.step3 .p1, .hw-createStore-page .hw-stepinfo.step3 .p2 {
    color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step3 .d1, .hw-createStore-page .hw-stepinfo.step3 .d2 {
    background: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step3 .c3 {
    border-color: #37bccd; }
  .hw-createStore-page .hw-stepinfo.step3 .p3 {
    color: #37bccd; }

.hw-createStore {
  width: 600px;
  margin: 0 auto; }
  .hw-createStore .hw-title {
    text-align: center;
    color: #4a4a4a;
    font-size: 24px; }

.hw-comp-MybizStoreInfoFormStep1 {
  margin-top: 0;
  padding-bottom: 150px; }
  .hw-comp-MybizStoreInfoFormStep1 .form-group {
    margin-bottom: 30px; }
  .hw-comp-MybizStoreInfoFormStep1 .hw-inline {
    width: 185px;
    display: inline-block;
    margin-left: 22px; }
    .hw-comp-MybizStoreInfoFormStep1 .hw-inline select {
      width: 100%;
      display: inline-block;
      line-height: 40px;
      height: 40px;
      padding-left: 8px;
      border: 1px solid #ccc;
      background: url(../image/arrow_down.png) right no-repeat #fff;
      -webkit-appearance: none;
      border-radius: 0;
      margin: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .hw-comp-MybizStoreInfoFormStep1 .hw-tagbox label {
    width: 120px;
    font-size: 14px;
    color: #4a4a4a;
    height: 30px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .hw-comp-MybizStoreInfoFormStep1 .hw-tagbox label input {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -2px; }

.hw-comp-MybizStoreInfoFormStep2 {
  margin-top: 0;
  padding-bottom: 150px; }
  .hw-comp-MybizStoreInfoFormStep2 .form-group {
    margin-bottom: 30px; }
  .hw-comp-MybizStoreInfoFormStep2 .hw-dym {
    margin-bottom: 30px; }
    .hw-comp-MybizStoreInfoFormStep2 .hw-dym span {
      font-size: 14px;
      color: #4a4a4a;
      display: inline-block;
      font-weight: 700;
      width: 100px; }
    .hw-comp-MybizStoreInfoFormStep2 .hw-dym label {
      display: inline-block;
      margin-left: 30px;
      font-size: 14px;
      color: #4a4a4a;
      position: relative;
      top: 1px; }
      .hw-comp-MybizStoreInfoFormStep2 .hw-dym label input {
        vertical-align: top;
        position: relative;
        top: -1px;
        margin-right: 10px; }

.hw-comp-MybizStoreInfoFormStep3 {
  margin-top: 0;
  padding-bottom: 150px; }
  .hw-comp-MybizStoreInfoFormStep3 .form-group {
    margin-bottom: 30px; }
    .hw-comp-MybizStoreInfoFormStep3 .form-group .hw-img-p {
      position: absolute;
      font-size: 14px;
      color: #9b9b9b;
      top: 22px;
      left: 178px; }
  .hw-comp-MybizStoreInfoFormStep3 .hw-upload {
    min-height: 160px;
    position: relative; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-upload .hw-img-box {
      height: 160px;
      width: 160px;
      float: left;
      background: #eeeeee;
      position: relative; }
      .hw-comp-MybizStoreInfoFormStep3 .hw-upload .hw-img-box img {
        width: 100%;
        height: 100%; }
      .hw-comp-MybizStoreInfoFormStep3 .hw-upload .hw-img-box b {
        display: none;
        text-align: center;
        line-height: 24px;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        cursor: pointer;
        height: 24px;
        overflow: hidden; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-upload input, .hw-comp-MybizStoreInfoFormStep3 .hw-upload .hw-btn {
      width: 140px;
      height: 36px;
      position: absolute;
      left: 180px;
      top: 124px; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-upload input {
      opacity: 0;
      z-index: 1;
      cursor: pointer; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-upload .hw-btn {
      color: #4a4a4a;
      border: 1px solid #4a4a4a;
      line-height: 36px;
      font-size: 14px;
      background: transparent; }
  .hw-comp-MybizStoreInfoFormStep3 .hw-line {
    height: 0;
    border-top: 1px solid #c5c5c5;
    margin-bottom: 25px; }
  .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage {
    display: inline-block;
    position: relative;
    height: 160px;
    margin: 0 10px; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage .c-box {
      width: 327px;
      height: 105px;
      position: relative; }
      .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage .c-box img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage .c-box .fa {
        color: #37bccd;
        display: none;
        position: absolute;
        z-index: 2;
        font-size: 78px;
        top: 16px;
        left: 124px; }
      .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage .c-box.active {
        outline: 3px solid #37bccd; }
        .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage .c-box.active .fa {
          display: block; }
    .hw-comp-MybizStoreInfoFormStep3 .hw-bigimage a {
      position: absolute;
      width: 100%;
      top: 115px;
      left: 0;
      text-align: center;
      color: #4a4a4a;
      font-size: 16px;
      font-weight: 700; }

.hw-comp-MybizUploadStoreImage {
  width: 700px;
  margin-left: -8px; }
  .hw-comp-MybizUploadStoreImage .hw-add, .hw-comp-MybizUploadStoreImage .hw-one {
    height: 158px;
    width: 158px;
    background: #ffffff;
    display: inline-block;
    margin: 0 8px 20px;
    position: relative;
    vertical-align: top;
    overflow: hidden; }
  .hw-comp-MybizUploadStoreImage .hw-add {
    border: 1px dashed #c5c5c5;
    text-align: center; }
    .hw-comp-MybizUploadStoreImage .hw-add .icon {
      font-size: 100px;
      text-align: center;
      margin: 20px auto;
      color: #d8d8d8; }
    .hw-comp-MybizUploadStoreImage .hw-add p {
      position: absolute;
      width: 100%;
      text-align: center;
      margin: 0;
      top: 124px;
      color: #9b9b9b;
      font-size: 14px; }
    .hw-comp-MybizUploadStoreImage .hw-add input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      margin: 0;
      cursor: pointer; }
  .hw-comp-MybizUploadStoreImage .hw-one img {
    width: 100%;
    max-height: 100%; }
  .hw-comp-MybizUploadStoreImage .hw-one b {
    position: absolute;
    height: 0;
    line-height: 20px;
    display: block;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .hw-comp-MybizUploadStoreImage .hw-one:hover b {
    height: 20px;
    -webkit-transition: height 0.2s;
    transition: height 0.2s; }

.hw-coupon-uploadimage {
  margin-left: -6px; }
  .hw-coupon-uploadimage .hw-add, .hw-coupon-uploadimage .hw-one {
    height: 192px;
    width: 192px;
    background: #ffffff;
    display: inline-block;
    margin: 0 6px 20px;
    position: relative;
    vertical-align: top;
    overflow: hidden; }
  .hw-coupon-uploadimage .hw-add .icon {
    font-size: 120px; }
  .hw-coupon-uploadimage .hw-add p {
    top: 150px;
    font-size: 16px; }

.hw-comp-MybizEditStoreLeftDropdown {
  position: absolute;
  width: 165px;
  top: 190px;
  left: 22px; }
  .hw-comp-MybizEditStoreLeftDropdown button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 100%; }
    .hw-comp-MybizEditStoreLeftDropdown button:focus {
      outline: none; }
    .hw-comp-MybizEditStoreLeftDropdown button input {
      background: #ffffff !important;
      height: 40px;
      border-radius: 0;
      margin-top: 2px;
      padding-right: 30px;
      color: #4a4a4a;
      font-size: 14px;
      cursor: pointer; }
    .hw-comp-MybizEditStoreLeftDropdown button .icon {
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 24px;
      color: #929292; }
  .hw-comp-MybizEditStoreLeftDropdown .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #c5c5c5;
    margin-top: -5px;
    padding: 0; }
    .hw-comp-MybizEditStoreLeftDropdown .dropdown-menu li {
      line-height: 36px;
      cursor: pointer;
      font-size: 14px;
      padding-left: 15px; }
      .hw-comp-MybizEditStoreLeftDropdown .dropdown-menu li:hover {
        background: #f5f5f5; }

.hw-mybiz-editstore-page {
  width: 870px;
  float: right;
  background: #f7f7f7;
  padding: 46px 135px 50px; }

.hw-MybizStoreInputDatepicker .ca {
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px dashed #9b9b9b; }
  .hw-MybizStoreInputDatepicker .ca span {
    font-size: 14px;
    color: #4a4a4a; }
  .hw-MybizStoreInputDatepicker .ca .ml {
    margin-right: 15px; }
  .hw-MybizStoreInputDatepicker .ca span.bn {
    color: #37bccd;
    cursor: pointer; }
.hw-MybizStoreInputDatepicker .cb b {
  display: inline-block;
  color: #4a4a4a;
  font-weight: normal;
  margin: 0 8px; }
.hw-MybizStoreInputDatepicker .cb select {
  width: 142px;
  display: inline-block;
  line-height: 36px;
  height: 36px;
  padding-left: 8px;
  border: 1px solid #c5c5c5;
  background: url(../image/arrow_down.png) right no-repeat #fff;
  -webkit-appearance: none;
  border-radius: 2px; }
.hw-MybizStoreInputDatepicker .cc {
  margin-top: 10px; }
  .hw-MybizStoreInputDatepicker .cc span {
    color: #4a4a4a;
    margin-right: 18px; }
  .hw-MybizStoreInputDatepicker .cc b {
    width: 64px;
    display: inline-block;
    margin-right: 12px;
    height: 32px;
    line-height: 32px;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
    border-radius: 2px;
    font-weight: normal;
    text-align: center;
    cursor: pointer; }
    .hw-MybizStoreInputDatepicker .cc b.active {
      background: #7d7d7d;
      color: #ffffff; }
.hw-MybizStoreInputDatepicker .hw-light-btn {
  width: 120px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  margin-top: 10px; }

.hw-page-createAds {
  background: #f5f5f5;
  margin-bottom: 24px;
  min-height: inherit; }
  .hw-page-createAds .hw-left-box {
    width: 750px;
    padding-left: 44px; }
  .hw-page-createAds .hw-right-box {
    position: absolute;
    top: 25px;
    right: 44px;
    width: 280px;
    height: 400px;
    background: #ffffff;
    text-align: center; }
    .hw-page-createAds .hw-right-box .hw-title {
      font-size: 20px;
      margin-top: 20px;
      color: #4a4a4a;
      font-weight: normal; }
    .hw-page-createAds .hw-right-box .hw-preview {
      margin-top: 30px;
      text-align: center; }

.hw-HWMybizCreateAdsPageForm .hw-label {
  font-size: 20px;
  color: #4a4a4a;
  margin-top: 25px;
  font-weight: normal; }
.hw-HWMybizCreateAdsPageForm .s-tpl {
  margin-top: 30px; }
  .hw-HWMybizCreateAdsPageForm .s-tpl img {
    width: 198px;
    height: 111px;
    box-sizing: initial;
    border: 12px solid transparent;
    border-radius: 6px;
    cursor: pointer; }
    .hw-HWMybizCreateAdsPageForm .s-tpl img.active {
      border: 12px solid rgba(55, 188, 205, 0.2);
      cursor: default; }
.hw-HWMybizCreateAdsPageForm .s-img {
  margin-top: 20px;
  height: 140px;
  position: relative; }
  .hw-HWMybizCreateAdsPageForm .s-img .hw-img-box {
    height: 134px;
    width: 106px;
    float: left;
    background: #eeeeee;
    position: relative; }
    .hw-HWMybizCreateAdsPageForm .s-img .hw-img-box img {
      width: 100%;
      height: 100%; }
  .hw-HWMybizCreateAdsPageForm .s-img input, .hw-HWMybizCreateAdsPageForm .s-img .hw-btn {
    width: 140px;
    height: 36px;
    position: absolute;
    left: 140px;
    top: 98px; }
  .hw-HWMybizCreateAdsPageForm .s-img input {
    opacity: 0;
    z-index: 1;
    cursor: pointer; }
  .hw-HWMybizCreateAdsPageForm .s-img .hw-btn {
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    line-height: 36px;
    font-size: 14px;
    background: transparent; }
.hw-HWMybizCreateAdsPageForm .s-form {
  margin-top: 8px; }
  .hw-HWMybizCreateAdsPageForm .s-form .control-label {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #4a4a4a; }
  .hw-HWMybizCreateAdsPageForm .s-form .form-control {
    width: 176px;
    display: inline-block; }
  .hw-HWMybizCreateAdsPageForm .s-form .hw-tip {
    margin-left: 12px;
    color: #7d7d7d; }
.hw-HWMybizCreateAdsPageForm .s-btn {
  margin-top: 30px; }
  .hw-HWMybizCreateAdsPageForm .s-btn .hw-back {
    float: left;
    border-color: #777777;
    font-size: 14px;
    color: #777777; }
  .hw-HWMybizCreateAdsPageForm .s-btn .hw-sub {
    float: right;
    font-weight: normal;
    font-size: 14px; }

.hw-myfav-list {
  margin-top: 24px;
  min-height: 800px; }
  .hw-myfav-list .hw-right-panel-list .hw-each {
    padding: 12px 15px;
    padding-left: 115px;
    min-height: 114px;
    height: auto; }
    .hw-myfav-list .hw-right-panel-list .hw-each .hw-img {
      width: 90px;
      height: 90px;
      left: 15px;
      top: 12px; }
    .hw-myfav-list .hw-right-panel-list .hw-each .h4 {
      margin-top: 0;
      line-height: 24px;
      height: 24px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 b {
        font-size: 18px;
        color: #000; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon {
        vertical-align: top;
        position: relative; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon-v {
        font-size: 48px;
        font-family: STSongti-SC-Bold !important;
        color: #f4a62a;
        line-height: 48px;
        top: -18px;
        left: 2px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .icon-coupon {
        top: -2px;
        margin-left: 30px; }
      .hw-myfav-list .hw-right-panel-list .hw-each .h4 .cpt {
        color: #f4a62a;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        top: -2px;
        left: 10px; }
    .hw-myfav-list .hw-right-panel-list .hw-each .hw-a {
      margin-top: 8px; }
  .hw-myfav-list .hw-right-panel-list .mask {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 90px;
    width: 90px;
    position: absolute;
    left: 15px;
    top: 12px;
    color: #4a4a4a;
    font-weight: 700; }

.hw-mycoupon-list {
  margin-top: 24px;
  min-height: 800px; }
  .hw-mycoupon-list .hw-right-panel-list .hw-each {
    padding: 12px 15px;
    padding-left: 184px;
    height: 120px;
    padding-right: 120px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .hw-img {
      width: 158px;
      height: 98px;
      left: 15px;
      top: 12px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 {
      margin-top: 0;
      line-height: 24px;
      height: 24px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 b {
        font-size: 21px;
        color: #f4a62a; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon {
        vertical-align: top;
        position: relative; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon-v {
        font-size: 48px;
        font-family: STSongti-SC-Bold;
        color: #f4a62a;
        line-height: 48px;
        top: -18px;
        left: 2px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .icon-coupon {
        top: -2px;
        margin-left: 30px; }
      .hw-mycoupon-list .hw-right-panel-list .hw-each .h4 .cpt {
        color: #f4a62a;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        top: -2px;
        left: 10px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .hw-a {
      margin-top: 8px; }
    .hw-mycoupon-list .hw-right-panel-list .hw-each .r {
      width: 120px; }
  .hw-mycoupon-list .hw-right-panel-list .mask {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 98px;
    width: 158px;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: 700; }

.hw-mysys-list .hw-right-panel-list {
  border-top: 1px solid #c5c5c5; }
  .hw-mysys-list .hw-right-panel-list .hw-each {
    padding: 12px 0;
    height: 44px;
    margin: 0 15px;
    border-top: 1px solid #c5c5c5;
    border-bottom: none;
    margin-top: -1px;
    padding-right: 110px; }
    .hw-mysys-list .hw-right-panel-list .hw-each .h4 {
      margin: 0; }
      .hw-mysys-list .hw-right-panel-list .hw-each .h4 input[type=checkbox] {
        font-size: 24px; }
      .hw-mysys-list .hw-right-panel-list .hw-each .h4 .hw-u {
        color: #777;
        margin-left: 10px;
        position: relative;
        top: 0;
        display: inline-block; }
      .hw-mysys-list .hw-right-panel-list .hw-each .h4 .hw-p {
        color: #4a4a4a;
        font-weight: 700;
        display: inline-block;
        margin-left: 15px; }
    .hw-mysys-list .hw-right-panel-list .hw-each .hw-a {
      margin-top: 12px; }
    .hw-mysys-list .hw-right-panel-list .hw-each .r {
      width: 100px;
      padding-right: 0; }
      .hw-mysys-list .hw-right-panel-list .hw-each .r span {
        position: absolute;
        width: 100px;
        left: -40px;
        top: 12px; }

.hw-comp-MycountMessageDetail {
  width: 844px;
  float: right;
  min-height: 250px;
  border: 1px solid #c5c5c5; }
  .hw-comp-MycountMessageDetail h4 {
    text-align: center;
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 25px; }
  .hw-comp-MycountMessageDetail small {
    color: #c5c5c5;
    display: block;
    text-align: center; }
  .hw-comp-MycountMessageDetail p {
    margin: 12px 50px 0;
    text-align: left;
    font-size: 14px;
    color: #777;
    line-height: 18px; }
  .hw-comp-MycountMessageDetail .hw-ft {
    margin-top: 35px;
    height: 108px;
    background: #f5f5f5;
    padding: 34px 51px; }
    .hw-comp-MycountMessageDetail .hw-ft .hw-btn {
      float: right; }

.hw-mycount-page {
  margin-top: 24px;
  min-height: 600px; }

.hw-mycount-info, .hw-mycount-password {
  width: 870px;
  min-height: 300px;
  background: #f7f7f7;
  float: right;
  padding: 50px 182px; }
  .hw-mycount-info .form-group, .hw-mycount-password .form-group {
    margin-bottom: 25px; }

.hw-mycount-info {
  padding: 45px 135px 50px; }
  .hw-mycount-info .form-group {
    margin-bottom: 20px; }
  .hw-mycount-info .hw-upload {
    min-height: 160px;
    position: relative; }
    .hw-mycount-info .hw-upload .hw-img-box {
      height: 160px;
      width: 160px;
      float: left;
      background: #eeeeee;
      position: relative; }
      .hw-mycount-info .hw-upload .hw-img-box img {
        width: 100%;
        height: 100%; }
      .hw-mycount-info .hw-upload .hw-img-box b {
        display: none;
        text-align: center;
        line-height: 24px;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        cursor: pointer;
        height: 24px;
        overflow: hidden; }
    .hw-mycount-info .hw-upload input, .hw-mycount-info .hw-upload .hw-btn {
      width: 140px;
      height: 36px;
      position: absolute;
      left: 180px;
      top: 124px; }
    .hw-mycount-info .hw-upload input {
      opacity: 0;
      z-index: 1;
      cursor: pointer; }
    .hw-mycount-info .hw-upload .hw-btn {
      color: #4a4a4a;
      border: 1px solid #4a4a4a;
      line-height: 36px;
      font-size: 14px;
      background: transparent; }
  .hw-mycount-info .hw-line {
    height: 0;
    border-top: 1px solid #c5c5c5;
    margin-bottom: 25px; }
  .hw-mycount-info .hw-area {
    height: 150px;
    border-radius: 0; }

.hw-comp-MycountLeftNav {
  width: 210px;
  text-align: center;
  float: left; }
  .hw-comp-MycountLeftNav .hw-a {
    display: block;
    line-height: 50px;
    font-size: 18px;
    color: #777777; }
    .hw-comp-MycountLeftNav .hw-a.active {
      background: #f7f7f7;
      color: #4a4a4a;
      cursor: default; }

.hw-comp-SelectLocationRange select {
  height: 40px;
  border: 1px solid #c5c5c5;
  border-radius: 0;
  background: url(../image/arrow_down.png) no-repeat right #fff;
  -webkit-appearance: none;
  padding: 0 25px 0 10px;
  margin-right: 20px;
  margin-bottom: 10px; }

.hw-HWMycountForgetPasswordForm {
  text-align: center;
  margin: 40px auto 50px;
  width: 600px;
  padding: 30px 0;
  background: #ffffff; }
  .hw-HWMycountForgetPasswordForm p {
    font-size: 16px;
    color: #7d7d7d; }
  .hw-HWMycountForgetPasswordForm input {
    width: 320px;
    margin: 20px auto; }
  .hw-HWMycountForgetPasswordForm .hw-btn {
    line-height: 36px;
    height: 36px;
    font-size: 14px; }

.hw-HWMycountResetPasswordForm {
  text-align: center;
  margin: 40px auto 50px;
  width: 600px;
  padding: 30px 100px;
  background: #ffffff; }
  .hw-HWMycountResetPasswordForm .hw-btn {
    margin-top: 20px; }

.kg-site-header-nav-comp .js_tab {
  width: 250px; }
.kg-site-header-nav-comp .nav .icon {
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 4px; }
.kg-site-header-nav-comp .hw-box .left {
  width: 250px;
  position: absolute;
  background: #ffffff;
  border-bottom: 1px solid #37bccd;
  z-index: 3;
  float: left; }
  .kg-site-header-nav-comp .hw-box .left .hw-item:first-child {
    border-top: none !important; }
  .kg-site-header-nav-comp .hw-box .left .hw-item {
    line-height: 42px;
    height: 52px;
    border-top: 1px solid #c5c5c5;
    border-left: 1px solid #37bccd;
    border-right: 1px solid #37bccd; }
    .kg-site-header-nav-comp .hw-box .left .hw-item .hw-one {
      position: relative; }
    .kg-site-header-nav-comp .hw-box .left .hw-item img {
      position: absolute;
      top: 16px;
      left: 15px; }
    .kg-site-header-nav-comp .hw-box .left .hw-item .cp {
      margin: 0;
      position: absolute;
      top: 5px;
      left: 55px; }
      .kg-site-header-nav-comp .hw-box .left .hw-item .cp a {
        float: left;
        font-size: 17px;
        color: #4a4a4a;
        font-weight: 400;
        text-rendering: geometricPrecision;
        letter-spacing: -1px; }
        .kg-site-header-nav-comp .hw-box .left .hw-item .cp a:hover {
          color: #37bccd; }
  .kg-site-header-nav-comp .hw-box .left .hw-item.hover {
    border-top: 1px solid #37bccd;
    border-right: 1px solid transparent; }
  .kg-site-header-nav-comp .hw-box .left .hw-item.second {
    border-top: 1px solid #37bccd; }
  .kg-site-header-nav-comp .hw-box .left .right {
    background: #ffffff;
    width: 620px;
    height: 469px;
    position: absolute;
    left: 250px;
    top: 0;
    border: 1px solid #37bccd;
    border-left: none;
    border-top: none;
    padding: 15px 0 12px; }
    .kg-site-header-nav-comp .hw-box .left .right dl {
      padding-left: 5px;
      margin: 0 10px 20px;
      position: relative;
      float: left; }
      .kg-site-header-nav-comp .hw-box .left .right dl dt {
        width: 98px;
        line-height: 32px;
        float: left; }
      .kg-site-header-nav-comp .hw-box .left .right dl dd {
        line-height: 24px;
        float: left;
        display: inline; }
      .kg-site-header-nav-comp .hw-box .left .right dl a {
        font-size: 14px;
        color: #4a4a4a;
        display: inline-block;
        line-height: 28px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 98px;
        margin: 5px 0 4px 15px; }
        .kg-site-header-nav-comp .hw-box .left .right dl a:hover {
          color: #37bccd; }
      .kg-site-header-nav-comp .hw-box .left .right dl .ca {
        font-size: 16px;
        font-weight: 400;
        color: #9c9c9c; }

.hw-HWSiteCouponDetailComp {
  padding: 0 15px 30px; }
  .hw-HWSiteCouponDetailComp .ca {
    height: 80px;
    border-bottom: 1px solid #ebebeb;
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    padding-left: 98px;
    z-index: 2; }
    .hw-HWSiteCouponDetailComp .ca img {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 8px;
      left: 30px; }
    .hw-HWSiteCouponDetailComp .ca a.h4 {
      font-size: 16px;
      color: #4a4a4a;
      font-weight: normal;
      margin: 0;
      margin-top: 15px;
      display: block; }
      .hw-HWSiteCouponDetailComp .ca a.h4:hover {
        color: #37bccd; }
    .hw-HWSiteCouponDetailComp .ca p {
      font-size: 14px;
      color: #4a4a4a;
      margin-top: 10px; }
  .hw-HWSiteCouponDetailComp .cb h4 {
    text-align: center;
    font-size: 24px;
    color: #f4a62a;
    line-height: 24px;
    margin: 0; }
  .hw-HWSiteCouponDetailComp .cb label {
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 10px; }
  .hw-HWSiteCouponDetailComp .cb p {
    font-size: 14px;
    color: #7d7d7d;
    line-height: 20px;
    margin: 0; }
  .hw-HWSiteCouponDetailComp .cb .hw-img {
    text-align: center;
    margin: 15px auto; }
    .hw-HWSiteCouponDetailComp .cb .hw-img img {
      max-width: 100%; }
  .hw-HWSiteCouponDetailComp .cc {
    margin-top: 40px;
    text-align: center;
    padding: 10px 0; }
    .hw-HWSiteCouponDetailComp .cc input {
      width: 400px;
      margin: 0 auto; }
    .hw-HWSiteCouponDetailComp .cc .hw-btn {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      margin-top: 15px; }

.hw-ad {
  width: 198px;
  height: 112px;
  margin: 0 auto;
  position: relative; }
  .hw-ad p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.hw-ad-common1 {
  border: 1px solid #00a7bc; }
  .hw-ad-common1 .hw-logo {
    position: absolute;
    background-color: #c5c5c5;
    width: 90px;
    height: 112px;
    top: 0;
    left: 0; }
  .hw-ad-common1 .hw-name {
    font-size: 21px;
    color: #00a7bc;
    top: 6px;
    position: absolute;
    width: 100px;
    left: 95px;
    text-align: left;
    font-weight: 700; }
  .hw-ad-common1 .hw-ad1 {
    font-size: 15px;
    position: absolute;
    color: #4a4a4a;
    left: 95px;
    width: 100px;
    text-align: left;
    top: 36px; }
  .hw-ad-common1 .hw-ad2 {
    margin: 0;
    position: absolute;
    left: 95px;
    width: 100px;
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
    top: 60px; }
  .hw-ad-common1 .hw-tel {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 167, 188, 0.65);
    left: 0;
    font-size: 16px;
    bottom: 0;
    margin: 0;
    color: #fff;
    text-align: center; }

.hw-ad-common2 {
  border: 1px solid #c5c5c5; }
  .hw-ad-common2 .hw-logo {
    position: absolute;
    background-color: #c5c5c5;
    width: 90px;
    height: 112px;
    top: 0;
    right: 0; }
  .hw-ad-common2 .hw-name {
    font-family: STKaiti-SC-Regular;
    font-size: 22px;
    color: #000;
    top: 32px;
    position: absolute;
    width: 100px;
    left: 5px;
    text-align: left;
    font-weight: 700; }
  .hw-ad-common2 .hw-ad1 {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    position: absolute;
    color: #4a4a4a;
    left: 5px;
    width: 100px;
    text-align: left;
    top: 10px; }
  .hw-ad-common2 .hw-ad2 {
    font-family: PingFangSC-Regular;
    margin: 0;
    position: absolute;
    left: 5px;
    width: 100px;
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
    top: 70px; }
  .hw-ad-common2 .hw-tel {
    font-family: PingFangSC-Regular;
    position: absolute;
    left: 5px;
    font-size: 12px;
    top: 88px;
    color: #4a4a4a;
    text-align: left; }

/*# sourceMappingURL=style.css.map */
