.kg-site-header-nav-comp{

    .js_tab{
        width : 250px;
    }

    .nav{
        .icon{
            color: #ffffff;
            font-size: 16px;
            margin-left: 10px;
            position: relative;
            top: 4px;
        }
    }

    .hw-box{

        .left{
            width: 250px;
            position: absolute;
            background: #ffffff;
            border-bottom: 1px solid $blue-color;
            z-index: 3;
            float: left;

            .hw-item:first-child{
                border-top: none !important;
            }

            .hw-item{
                line-height: 42px;
                height: 52px;
                border-top: 1px solid $border-color;
                border-left: 1px solid $blue-color;
                border-right: 1px solid $blue-color;

                .hw-one{
                    position: relative;
                }

                img{
                    position: absolute;
                    top: 16px;
                    left: 15px;
                    width: 25px;
                    height: 33px;
                }
                .img-0{
                    top:12px;
                }
                .img-1{
                    width: 33px;
                    height: 18px;
                    top: 18px;
                    left: 12px;
                }
                .img-2{
                    width: 27px;
                    height: 34px;
                    top: 9px;
                }
                .img-3{
                    width: 35px;
                    height: 20px;
                    top: 18px;
                    left: 11px;
                }
                .img-4{
                    width: 26px;
                    height: 21px;
                }
                .img-5{
                    width: 26px;
                    height: 24px;
                    top: 14px;
                }
                .img-6{
                    width: 26px;
                    height: 24px;
                }
                .img-7{
                    width: 26px;
                    height: 26px;
                    top: 13px;
                    left: 16px;
                }
                .img-8{
                    width: 26px;
                    height: 24px;
                    top: 13px;
                }


                .cp{
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 55px;

                    a{
                        float: left;
                        font-size: 17px;
                        color: $color-4a;
                        font-weight: 400;
                        //letter-spacing: -1px;

                        &:hover{
                            color: $blue-color;
                        }
                    }
                }
            }
            .hw-item.hover{
                border-top: 1px solid $blue-color;
                border-right: 1px solid transparent;
            }
            .hw-item.second{
                border-top: 1px solid $blue-color;
            }

            .right{
                background: #ffffff;
                width: 620px;
                height: 469px;
                position: absolute;
                left: 250px;
                top: 0;
                border: 1px solid $blue-color;
                border-left: none;
                border-top: none;
                padding: 15px 0 12px;

                dl{
                    padding-left: 5px;
                    margin: 0 10px 20px;
                    position: relative;
                    float: left;

                    dt{
                        width: 98px;
                        line-height: 32px;
                        float: left;
                    }

                    dd{
                        line-height: 24px;
                        float: left;
                        display: inline;
                    }

                    a{
                        font-size: 14px;
                        color: $color-4a;
                        display: inline-block;
                        line-height: 28px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 98px;
                        margin: 5px 0 4px 15px;

                        &:hover{
                            color: $blue-color;
                        }
                    }

                    .ca{
                        font-size: 16px;
                        font-weight: 400;
                        color: #9c9c9c;
                    }
                    .cb{

                    }
                }
            }
        }


    }
}

.hw-HWSiteCouponDetailComp{

    padding: 0 15px 30px;

    .ca{
        height: 80px;
        border-bottom: 1px solid #ebebeb;
        position: absolute;
        width: 100%;
        top: -20px;
        left: 0;
        padding-left: 98px;
        z-index: 2;

        img{
            width: 56px;
            height: 56px;
            position: absolute;
            top: 8px;
            left: 30px;
        }
        a.h4{
            font-size: 16px;
            color: $color-4a;
            font-weight: normal;
            margin: 0;
            margin-top: 15px;
            display: block;

            &:hover{
                color: $blue-color;
            }
        }
        p{
            font-size: 14px;
            color: $color-4a;
            margin-top: 10px;
        }
    }

    .cb{
        h4{
            text-align: center;
            font-size: 24px;
            color: #f4a62a;
            line-height: 24px;
            margin: 0;
        }

        label{
            font-size: 16px;
            color: $color-4a;
            margin-top: 10px;
        }
        p{
            font-size: 14px;
            color: $color-7d;
            line-height: 20px;
            margin: 0;
        }

        .hw-img{
            text-align: center;
            margin: 15px auto;
            img{
                max-width: 100%;
            }
        }


    }
    .cc{
        margin-top: 40px;
        text-align: center;
        //border-top: 1px solid #ebebeb;
        padding: 10px 0;

        input{
            width: 400px;
            margin: 0 auto;
        }
        .hw-btn{
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            margin-top: 15px;
        }
    }

}

.hw-HWBaseAdsBanner{
    width: 230px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    height: 444px;
    text-align: center;

    .hw-border{
        background: url('../image/ads_border.png');
        height: 6px;
    }
    .cb{
        padding: 30px 0;
        border-bottom: 1px dotted $border-color;
        margin: 0 8px;
    }
    .hw-btn{
        font-weight: normal;
        margin: 0 auto;
        width: 148px;
    }
    .h4{
        font-size: 18px;
        color: $blue-color;
        margin: 25px auto 0;
    }

    .cc{
        padding: 20px 15px;
    }
    .pa{
        font-size: 18px;
        color: $color-7d;
        margin: 0 auto;
    }
    img{
        margin: 15px auto 25px;
        width: 160px;
        height: 90px;
    }
    .pb{
        font-size: 13px;
        line-height: 21px;
        color: $color-7d;
        text-align: left;
    }
}
.hw-HWBaseAdsBanner1{
    width: 280px;
    height: 275px;
    .h4{
        margin: 0 auto;
    }
}