.hw-SiteCouponFilterComp{

    padding: 20px 20px 8px 20px;
    background: #fff;
    border: 1px solid #ebebeb;


    .c{
        position: relative;
        padding-left: 80px;

        label{
            display: inline-block;
            width: 80px;
            font-weight: 700;
            position: absolute;
            left: 0;
        }
        p{
            display: inline-block;
            word-break: break-all;
            margin: 0;

            span{
                margin-right: 15px;
                display: inline-block;
                padding: 0 8px;
                margin-bottom: 8px;
                line-height: 24px;
                cursor: pointer;
                
                &.active{
                    background: #f4a62a;
                    color: #ffffff;
                    border-radius: 4px;
                }
            }
        }
    }
}

.hw-SiteCouponAscComp{
    background: #ffffff;
    border: 1px solid #ebebeb;
    padding: 12px 20px;
    text-align: right;

    b{
        font-weight: normal;
        cursor: pointer;

        .fa{
            margin-left: 5px;
            font-size: 14px;
        }
    }
}


.hw-HWSiteCouponListPage{


    .box{
        width: 1100px;
        margin-top: 24px;
        margin-left: -8px;
    }

    .hw-one{
        width: 258px;
        height: 298px;
        background: #ffffff;
        margin: 0 8px 15px;
        display: inline-block;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
        position: relative;
        padding: 160px 15px 0;
        overflow: hidden;

        .hw-logo{
            width: 100%;
            height: 160px;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;

            img{
                width: 100%;
                height: 100%;
            }
        }

        h4{
            font-size: 16px;
            color: $color-4a;
            margin: 15px 0 0 0;
        }
        .hw-address{
            font-size: 12px;
            color: $color-7d;
            margin-top: 5px;
        }

        h3{
            font-size: 21px;
            color: #f4a62a;
            text-align: center;
        }
    }

    .hw-cpage{
        margin-top: 24px;
        background: #ffffff;
        border: 1px solid #ebebeb;
        padding: 0 5px;
        text-align: right;

        .pagination{
            margin: 8px 0;

            li{
                a{
                    border: none;
                    line-height: 14px;
                    float: none;
                    font-size: 14px;
                    color: $color-4a;
                    margin-right: 8px;
                    padding: 4px 8px;
                    
                    &.active{
                        background: #f4a62a;
                        border-radius: 4px;
                        color: #ffffff;

                    }
                }
            }
        }

        .c-lb{
            padding: 12px 0;
            text-align: center;

            b{
                font-size: 14px;
                cursor: pointer;
            }
        }

        .loading{
            background: url('../image/loading.gif');
            display: inline-block;
            width: 32px;
            height: 32px;
        }
    }

}