
.hw-landingTopBox{
    height: 500px;
    background: url("../image/landing/bg01.png") top center no-repeat #f7f7f7;

    h3{
        font-size: 48px;
        color: #ffffff;
        position: absolute;
        top: 140px;
    }
    .c1{
        line-height: 46px;
        font-size: 22px;
        position: absolute;
        top: 230px;
        color: #ffffff;
    }
    
    .hw-img{
        width: 68px;
        height: 68px;
        position: absolute;
        right: 143px;
        z-index: 2;
    }

    .hw-box{
        width: 360px;
        height: 366px;
        background: rgba(255, 255, 255, 0.3);
        float: right;
        margin-top: 65px;
        padding: 40px 25px;
        position: relative;

        .hw-input{
            height: 54px;
            width: 100%;
            background: #ffffff;
            border: 1px solid $border-color;
            border-radius: 2px;
            color: $color-4a;
            font-size: 22px;
            padding-left: 10px;
        }
        .hw-btn{
            height: 54px;
            line-height: 54px;
            font-size: 22px;
            width: 100%;
            margin-top: 25px;
        }

        p{
            color: $color-4a;
            position: absolute;
            text-align: center;
            bottom: -36px;
            width: 300px;

            b{
                color: $blue-color;
                cursor: pointer;
            }
        }
        
        em{
            font-style: normal;
            font-size: 12px;
            color: $color-7d;
            display: block;
            text-align: center;
            margin-top: 5px;
            
            a{
                font-size: 12px;
                color: $blue-color;
            }
        }
    }

    &.hw-not-login{
        .hw-img{
            top: 31px;
        }
    }

    &.hw-is-login{
        .hw-box{
            background: transparent;
        }
        .hw-img{
            top: 160px;
        }
    }
}

.hw-landingBigImage{
    padding-top: 150px;

    .box{
        position: relative;
        width: 1080px;
        margin: 0 auto;

        p{
            position: absolute;
            color: $color-4a;
            font-weight: 700;
        }
    }


    .c1{
        img{
            width: 760px;
        }
        .p1{
            font-size: 21px;
            right: 0;
            top: 10px;
        }
        .p2{
            right: 170px;
            bottom: 75px;
        }
    }
    .c2{
        img{
            padding-top: 120px;
            float: right;
            width: 650px;
        }
        h3{
            font-size: 40px;
            position: absolute;
            top: 200px;
        }

        .p1{
            font-size: 21px;
            left: 0;
            top: 270px;
        }
    }
    .c3{
        img{
            float: left;
            width: 650px;
        }
        h3{
            font-size: 40px;
            position: absolute;
            top: 170px;
            right: 120px;
        }

        .p1{
            font-size: 21px;
            top: 240px;
            right: 0;
        }
    }
    .c4{
        padding-top: 100px;
        img{
            width: 800px;
            margin-left: 100px;
        }
    }
}

.hw-landingBottomBtn{
    text-align: center;
    padding: 100px 0;

    .hw-btn{
        height: 90px;
        line-height: 90px;
        width: 430px;
        border-radius: 4px;
        margin: 0 auto;
        font-size: 30px;
    }
}