.c-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    text-align: center;
    
    img{
        max-width: 100%;
        margin: 0 auto;
        -webkit-filter : blur(2px);
        filter : blur(2px);
    }

}

.hw-HWSiteStoreDetailPage{

    margin-top: 40px;

    .c-top{
        height: 288px;
        background: rgba(255,255,255, 0.9);
        padding: 38px;
        position: relative;

        .hw-logo{
            width: 140px;
            height: 140px;
            position: absolute;
            top: 38px;
            left: 38px;
        }
        .hw-renling{
            color: #f4a62a;
            font-size: 16px;
            cursor: pointer;
            position: absolute;
            top: 200px;
            width: 140px;
            left: 38px;
            text-align: center;
        }

        .c-r{
            margin-left: 175px;

            h4{
                font-size: 22px;
                line-height: 26px;
                color: $color-4a;
                margin: 0;
                font-weight: 400;

                .icon-v{
                    position: relative;
                    top: 5px;
                    left: 4px;
                    line-height: 12px;
                }
            }

            .hw-star{
                margin-top: 8px;
            }
            .hw-rp{
                margin-left: 15px;
                font-size: 16px;
                color: $color-4a;
            }

            .hw-p{
                font-size: 16px;
                color: $color-4a;
                margin-top: 8px;
                margin-bottom: 0;
            }
            .hw-coupon{
                margin-top: 12px;
                color: #f4a62a;
                font-size: 20px;
                cursor: pointer;

                .icon{
                    background: url('../image/store_coupon.png');
                    width: 30px;
                    height: 30px;
                    background-size: 100%;
                    margin-right: 8px;
                    vertical-align: middle;
                }
            }
        }
        .hw-act{
            position: absolute;
            top: 230px;
            color: $blue-color;
            font-weight: 400;
            font-size: 17px;
            left: 700px;
            cursor: pointer;

            .icon{
                font-size: 24px;
                color: $blue-color;
                position: relative;
                top: 2px;
                margin-right: 8px;
            }
        }
    }

    .c-box{
        width: 100%;
        background: #ffffff;
        border: 1px solid #e2e2e2;

        .c-title{
            height: 50px;
            border-bottom: 1px solid #ebebeb;
            padding : 0 15px;

            p{
                font-size: 18px;
                line-height: 48px;
                color: $color-4a;
                float: left;
            }

            b{
                font-weight: 400;
                color: $color-7d;
                line-height: 48px;
                font-size: 16px;
                float: right;
            }
        }

        .c-content{
            padding: 12px 15px 20px;

            p{
                margin: 0;
            }

            .hw-la{
                line-height: 40px;
                border-bottom: 1px solid #ebebeb;
                font-size: 17px;
                color: $color-7d;
            }

        }

        .hw-more{
            margin: 0;
            padding: 8px 0;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .hw-left-box{
        width : 750px;
        float: left;
        margin-top: 20px;

        .hw-cp{
            padding: 8px 0;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            height: 114px;
            padding-left: 170px;
            img{
                width: 160px;
                height: 98px;
                position: absolute;
                top: 8px;
                left: 0;
            }
            h4{
                font-size: 20px;
                color: #f4a62a;
            }
            .hw-lt{
                color: $color-7d;
                font-size: 14px;
                margin-top: 20px;
            }

            .hw-btn{
                height: 40px;
                line-height: 40px;
                width: 120px;
                font-size: 14px;
                font-weight: normal;
                position: absolute;
                top: 40px;
                right: 15px;
            }
        }

        .hw-art{
            padding: 12px 0;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            min-height: 114px;
            padding-left: 110px;
            img{
                width: 90px;
                height: 90px;
                position: absolute;
                top: 12px;
                left: 0;
            }
            h4{
                font-size: 20px;
                color: $color-4a;
                margin: 0;
            }
            .hw-time{
                position: absolute;
                top: 12px;
                right: 5px;
                color: $color-7d;
                font-size: 14px;
            }
            .hw-lt{
                color: $color-7d;
                font-size: 16px;
                margin-top: 10px;
                max-height: 48px;
                overflow: hidden;
                word-break: break-all;
            }

            &:hover{
                h4{
                    color: $blue-color;
                }
            }
        }
    }
    .hw-right-box{
        float: right;
        width: 310px;
        margin-top: 20px;

        .hw-brief{
            font-size: 16px;
            color: $color-7d;
            line-height: 22px;
        }
    }

    .hw-imglist{

        .carousel-control{
            width: 24px;
            background: none;
        }

        .item{
            padding: 30px 0;
            height: 220px;
            width: 680px;
            margin: 0 auto;
            overflow: hidden;


            .img-item{
                width: 160px;
                height: 160px;
                margin-right: 8px;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                //background: #ebebeb;
                vertical-align: top;
                text-align: center;
                overflow: hidden;
                position: relative;
                left: 8px;
                top: -4px;
                
                img{
                    width: 100%;
                }
            }
        }
    }

    .hw-rpeach{
        position: relative;
        min-height: 110px;
        border-bottom: 1px solid #ebebeb;
        padding: 15px 20px 15px 15px;

        .hw-img{
            float: left;
            width: 90px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 30px;
                //box-shadow: 0 0 4px #999;
            }

            p{
                font-size: 14px;
                color: $color-4a;
                text-align: left;
                margin-top: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 85px;
            }
        }

        .r{

        }
        .hw-time{
            margin-top: 2px;
            text-align: left;
            span{
                font-size: 14px;
                color: $color-7d;
                float: right;
            }
        }
        .hw-msg{
            font-size: 14px;
            color: $color-7d;
            margin-top: 10px !important;
            line-height: 20px;
            min-height: 40px;
            margin-left: 90px !important;
        }
        .hw-action{
            text-align: right;
            span{
                font-size: 14px;
                color: $color-7d;
                margin-left: 10px;
                cursor: pointer;
            }
        }

        .c-rp{
            position: relative;
            padding: 12px 80px 12px 60px;
            margin-left: 102px;

            img{
                width: 50px;
                height: 50px;
                position: absolute;
                left: 0;
                top: 12px;
            }
            p{
                font-size: 14px;
                color: $color-7d;
            }
        }

        .c-rp-area{
            text-align: right;
            margin-top: 12px;
            margin-left: 102px;
            width: 580px;
            
            textarea{
                border-color: #f4a62a;
                resize: none;
                background: #f7f7f7;
                border-radius: 0;
            }
            .hw-btn{
                margin-top: 8px;
                display: inline-block;
                height: 36px;
                line-height: 36px;
                background: $yellow-color;
                border: none;
                border-radius: 0;
            }
        }
    }

    .hw-wp{
        position: relative;
        min-height: 110px;
        border-bottom: 1px solid #ebebeb;
        padding: 15px 20px 15px 105px;

        .hw-img{
            display: block;
            position: absolute;
            top: 15px;
            left: 20px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }

            p{
                font-size: 14px;
                color: $color-4a;
                text-align: left;
                margin-top: 5px;
                width: 70px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .hw-time{
            margin-top: 20px;

            .hw-comp-star{
                .icon{
                    font-size: 26px;
                }
            }
        }

        .r{
            position: static;
        }

        .hw-ta{
            margin-top: 25px;
            text-align: left;
            textarea{
                padding: 8px 12px;
                resize: none;
                height: 100px;
                width: 580px;
            }
            .hw-btn{
                width: 120px;
                font-size: 16px;
                font-weight: 400;
                margin-top: 10px;
            }
        }

    }

}

.hw-jubao-box{
    height: 220px;
    position: relative;
    p{
        font-size: 18px;
        position: relative;
        top: -10px;
    }
    label{
        position: absolute;
        font-size: 16px;
        font-weight: normal;

        input{
            margin-right: 5px;
        }
    }
    .left{
        top: 30px;

    }
    .right{
        top: 30px;
        left: 350px;
    }

    textarea{
        position: absolute;
        top: 150px;
        height: 80px;
        resize: none;
    }
}