.c-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    text-align: center;
    
    img{
        max-width: 100%;
        margin: 0 auto;
    }

}

.hw-HWSiteStoreDetailPage{

    margin-top: 40px;

    .c-top{
        height: 288px;
        background: rgba(255,255,255, 0.9);
        padding: 38px;
        position: relative;

        .hw-logo{
            width: 140px;
            height: 140px;
            position: absolute;
            top: 38px;
            left: 38px;
        }
        .hw-renling{
            color: #f4a62a;
            font-size: 16px;
            cursor: pointer;
            position: absolute;
            top: 200px;
            width: 140px;
            left: 38px;
            text-align: center;
        }

        .c-r{
            margin-left: 175px;

            h4{
                font-size: 22px;
                line-height: 26px;
                color: $color-7d;
                margin: 0;
                font-weight: 400;
            }

            .hw-star{
                margin-top: 8px;
            }
            .hw-rp{
                margin-left: 15px;
                font-size: 16px;
                color: $color-7d;
            }

            .hw-p{
                font-size: 16px;
                color: $color-7d;
                margin-top: 8px;
                margin-bottom: 0;
            }
        }
        .hw-act{
            position: absolute;
            top: 230px;
            color: $blue-color;
            font-weight: 400;
            font-size: 17px;
            left: 700px;
            cursor: pointer;

            .icon{
                font-size: 24px;
                color: $blue-color;
                position: relative;
                top: 2px;
                margin-right: 8px;
            }
        }
    }

    .c-box{
        width: 100%;
        background: #ffffff;
        border: 1px solid #e2e2e2;

        .c-title{
            height: 50px;
            border-bottom: 1px solid #ebebeb;
            padding : 0 15px;

            p{
                font-size: 18px;
                line-height: 48px;
                color: $color-4a;
                float: left;
            }

            b{
                font-weight: 400;
                color: $color-7d;
                line-height: 48px;
                font-size: 16px;
                float: right;
            }
        }

        .c-content{
            padding: 12px 15px 20px;

            .hw-la{
                line-height: 40px;
                border-bottom: 1px solid #ebebeb;
                font-size: 17px;
                color: $color-7d;
            }

        }
    }

    .hw-left-box{
        width : 750px;
        float: left;
        margin-top: 20px;

        .hw-cp{
            padding: 8px 0;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            height: 114px;
            padding-left: 170px;
            img{
                width: 160px;
                height: 98px;
                position: absolute;
                top: 8px;
                left: 0;
            }
            h4{
                font-size: 20px;
                color: #f4a62a;
            }
            .hw-lt{
                color: $color-7d;
                font-size: 14px;
                margin-top: 20px;
            }
        }

        .hw-art{
            padding: 12px 0;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            height: 114px;
            padding-left: 110px;
            img{
                width: 90px;
                height: 90px;
                position: absolute;
                top: 12px;
                left: 0;
            }
            h4{
                font-size: 20px;
                color: $color-4a;
                margin: 0;
            }
            .hw-lt{
                color: $color-7d;
                font-size: 16px;
                margin-top: 10px;
            }

            &:hover{
                h4{
                    color: $blue-color;
                }
            }
        }
    }
    .hw-right-box{
        float: right;
        width: 310px;
        margin-top: 20px;

        .hw-brief{
            font-size: 16px;
            color: $color-7d;
            line-height: 22px;
        }
    }

    .hw-imglist{

        .carousel-control{
            width: 24px;
            background: none;
        }

        .img-item{
            padding: 30px 0;
            height: 220px;
            width: 680px;
            margin: 0 auto;
            position: relative;
            left: 8px;
            top: -4px;

            img{
                width: 160px;
                height: 160px;
                margin-right: 8px;
                cursor: pointer;
            }
        }
    }
}