<!DOCTYPE html>
<html lang="en">
<head>

	@@include('../../inc/meta_site.html')

	<title></title>
</head>
<body>

@@include('../../inc/head_nav.html')
<div role="SiteHeadingNav"></div>

<div class="container hw-site-page">
	<div style="float: left;min-height:250px;" role="HWSiteArticleDetailPage"></div>

	<div style="width:300px;" role="HWBaseAdsBanner1"></div>

	<div style="position: absolute;top:295px;right:0;" role="HWSiteArticleDetailRightMoreCommentComp"></div>

	<div role="HWSiteArticleDetailMoreComp"></div>



</div>


@@include('../../inc/footer.html')

</body>
</html>
<script type="text/javascript">
	KG.data.add({
		page : 'site-articleDetail',
		id : util.url.param('id')
	});
</script>