<!DOCTYPE html>
<html lang="en">
<head>

	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Pragma" contect="no-cache">


<title>海外同城-北美最实用的分类生活信息发布平台</title>


<link href="../../bower_components/fakeLoader/fakeLoader.css" rel="stylesheet">
<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">


<link rel="stylesheet" href="../../style/site.min.css?v=1459963696237">

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/underscore/underscore-min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bower_components/moment/min/moment.min.js"></script>
<script src="../../bower_components/fakeLoader/fakeLoader.min.js"></script>
<script src="../../lib/md5.min.js"></script>
<script src="../../lib/artTemplate.js"></script>
<script src="../../lib/wxLogin.js"></script>

<script src="../../js/dist/site.min.js?v=1459963696237"></script>





	<style>

	</style>
	<title></title>
</head>
<body>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCjKJoA5eBc75v5pQurBQ3IjP4vNkfoOzw" async defer></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDxV6e_ZwnimMVVH4sozd2A-c4TYkk0U_4"></script>-->

<div id="fakeLoader"></div>
<div id="fakeLoader1"></div>
<div role="Header"></div>



<div role="SiteHeadingNav"></div>

<div role="HWSiteStoreBigBackgroundImage"></div>
<div class="container hw-site-page">

	<div role="HWSiteStoreDetailPage"></div>

</div>


<div class="hw-footer-comp">
    <div class="container">
        <div class="logo"></div>

        <div class="smap">
            <a target="_blank" href="../help/about">关于我们</a>
            <span>|</span>
            <a target="_blank" href="../help/privacy.html">隐私条款</a>
            <span>|</span>
            <a target="_blank" href="../help/terms.html">用户协议</a>
            <span>|</span>
            <a target="_blank" href="../help/contact.html">联系我们</a>
            <span>|</span>
            <a target="_blank" href="../help/user_help.html">帮助中心</a>

        </div>

        <div class="cr">Copyright © 2010-2016 Haiwai.com 海外网版权所有</div>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
	KG.data.add({
		needLogin : false,
		page : 'view-store',
		id : util.url.param('id'),
		startFN : function(latitude, longitude, opts){
			var myLatlng = new google.maps.LatLng(latitude, longitude);
			var mapOptions = {
				center: myLatlng,
				panControl: false,
				zoom: 15
			};
			var map = new google.maps.Map(opts.elem, mapOptions);
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: opts.name
			});
		}

	});
</script>